In [1]:
import pandas as pd

In [2]:
pwd

'c:\\Users\\Admin\\Documents\\python'

In [3]:
import pandas as pd
import os

# Get a list of all CSV files in the folder
folder_path = r'C:\\Users\\Admin\\Documents\\telangana\\RaithuBheema_SrinivasGoud'
file_list = [file for file in os.listdir(folder_path) if file.endswith('.xlsx')]

In [4]:
file_list

['RaithuBheema_SrinivasGoud.xlsx']

In [5]:
import pandas as pd
import os

import pandas as pdfirst_name
import os

# Get a list of all CSV files in the folder
folder_path = r'C:\\Users\\Admin\\Documents\\telangana\\RaithuBheema_SrinivasGoud'
file_list = [file for file in os.listdir(folder_path) if file.endswith('.xlsx')]

# Initialize an empty DataFrame to store the merged data
Final_data = pd.DataFrame()

# Read each CSV file and merge into one DataFrame
for file in file_list:
    file_path = os.path.join(folder_path, file)
    data = pd.read_excel(file_path)
    Final_data = pd.concat([Final_data, data])

# Save the merged data to a new CSV file
Final_data.to_csv('Final1Cr_File.xlsx', index=False)

In [6]:
Final_data.head()

  NAME OF THE BENEFICIARY  Mobile Number
0        అంకర్ల లక్ష్మమ్మ     9542329537
1                  అంజమ్మ     9603355707
2                  అంజమ్మ     9963661579
3               అంజిలామ్మ     9701261327
4                అంజిలేయా     9000415602

In [7]:
Final_data.shape

(561, 2)

In [8]:
Final_data['NAME OF THE BENEFICIARY'] = Final_data['NAME OF THE BENEFICIARY'].str.strip()

In [9]:
def capitalize_column(column_name, dataframe):
    dataframe[column_name] = dataframe[column_name].str.capitalize()
    return dataframe

# Applying the function to the 'Words' column
Final_data = capitalize_column('NAME OF THE BENEFICIARY', Final_data)

In [10]:
Final_data.head()

  NAME OF THE BENEFICIARY  Mobile Number
0        అంకర్ల లక్ష్మమ్మ     9542329537
1                  అంజమ్మ     9603355707
2                  అంజమ్మ     9963661579
3               అంజిలామ్మ     9701261327
4                అంజిలేయా     9000415602

In [11]:
Final_data.isnull().sum()

NAME OF THE BENEFICIARY    0
Mobile Number              0
dtype: int64

In [12]:
Final_data.dropna(inplace = True)

In [13]:
uniq_df = pd.read_excel(r"C:\\Users\\Admin\\Documents\\telangan uniques\\Final_Uniques_File.xlsx")

In [14]:
uniq_df.head()

   Unqiue_names Telugu_unique_names  telugu_wronginfo
0  hrushikeswar        హ్రుశీకేశ్వర               0.0
1        hrudai              హ్రుదై               0.0
2      hruthika             హ్రుతిక               0.0
3      hrithvik          హ్రిత్విక్               0.0
4         hritu              హ్రితు               0.0

In [15]:
uniq_df.isnull().sum()

Unqiue_names            0
Telugu_unique_names     0
telugu_wronginfo       20
dtype: int64

In [16]:
uniq_df.shape

(45286, 3)

In [17]:
# Remove rows containing 'baby' or 'Baby' in Unqiue_names column (case insensitive)
uniq_df = uniq_df[~uniq_df['Unqiue_names'].str.contains('baby', case=False)]

In [18]:
uniq_df.head()

   Unqiue_names Telugu_unique_names  telugu_wronginfo
0  hrushikeswar        హ్రుశీకేశ్వర               0.0
1        hrudai              హ్రుదై               0.0
2      hruthika             హ్రుతిక               0.0
3      hrithvik          హ్రిత్విక్               0.0
4         hritu              హ్రితు               0.0

In [19]:
#test
uniq_df['Telugu_unique_names'] = uniq_df['Telugu_unique_names'].str.strip()

In [20]:
# Function to capitalize strings in a column
def capitalize_column(column_name, dataframe):
    dataframe[column_name] = dataframe[column_name].str.capitalize()
    return dataframe

# Applying the function to the 'Words' column
uniq_df = capitalize_column('Unqiue_names', uniq_df)

In [21]:
# Initialize an empty set to store unique names
unique_names_set = set()

# Function to update unique_names_set with unique names from a dataframe
def update_unique_names(dataframe):
    unique_names_set.update(dataframe['Unqiue_names'].tolist())

# Assuming df2 is another dataframe with a 'unique_names' column
# Update unique_names_set with unique names from df2
update_unique_names(uniq_df)

# Now unique_names_set contains unique names from both unique_df and df2
# You can convert the set back to a list if needed
combined_unique_names = list(unique_names_set)

In [22]:
#test

# Initialize an empty set to store unique names
unique_names_set = set()

# Function to update unique_names_set with unique names from a dataframe
def update_unique_names(dataframe):
    unique_names_set.update(dataframe['Telugu_unique_names'].tolist())

# Assuming df2 is another dataframe with a 'unique_names' column
# Update unique_names_set with unique names from df2
update_unique_names(uniq_df)

# Now unique_names_set contains unique names from both unique_df and df2
# You can convert the set back to a list if needed
combined_unique_names = list(unique_names_set)

In [23]:
unique_names_set

{'యుగేంధర్',
 'నివ్య',
 'మౌన్యత',
 'లిఖి',
 'గోదావరి',
 'థామస్',
 'శ్రీలిఖిత',
 'జూకర్',
 'చద్రయ్య',
 'వేరబోయిన',
 'జశవిండర',
 'వీశ్వక్షేనా',
 'తాన్వేశ్',
 'అబినందన',
 'బెనాయ',
 'అలెం',
 'సాయిబాబా',
 'అజీద్',
 'కనకరెడ్డి',
 'షిరీష్',
 'క్రాంత్',
 'చీరంజీవి',
 'ఖుర్రాతుల్',
 'అజింక్యా',
 'జునైడ్',
 'రతన్\u200cలాల్',
 'అమరేంధర్',
 'శిల్పా',
 'సైమనికాంత',
 'క్రేనిత',
 'నవాబ్జానీ',
 'లశ్య',
 'బైరం',
 'జైమిని',
 'నుముల',
 'నీరజ',
 'పుష్కర్',
 'నీరుడు',
 'సిఖా',
 'శీర్',
 'ఆరిఫ్',
 'శ్యామ్సందర్రో',
 'శణ్ముంగం',
 'ధర్మరెడ్డి',
 'ఆయన్దాళా',
 'బ్రిజ్వేష్',
 'సహబోతే',
 'చిదంబర్',
 'రహమేద్',
 'అబ్దుల్\u200cఖదీర్',
 'గడియారం',
 'వేణుగోపాలరావు',
 'ఇలెండర్',
 'రామచరణ్',
 'ప్రగీత్',
 'బిదాయనంద',
 'రిజవుల్',
 'కములమ్మ',
 'శివరామకృష్ణ',
 'ఆశ్విన్',
 'వేదేష్',
 'అపసారి',
 'శ్రీరుభట్ల',
 'మార్య',
 'విజశ్రీ',
 'రుఫీనా',
 'పర్మోద్',
 'రఘునందన్',
 'ఆయుష్',
 'బవ్యా',
 'సిద్ధిఖీ',
 'సర్మది',
 'కుంజమ్మ',
 'సుదర్శనమా',
 'ముజ్జికే',
 'సీతారాములు',
 'కుమారమ్మ',
 'ప్రమిది',
 'ప్రదీప్రెడ్డి',
 'షాధిక్',
 'అంజన',
 'వర్థీక',
 'సోపోజీ',
 'కాండ్రేకళ',
 'తల్హా',
 'ఫాతిమున్',
 'బక్కప్పా',
 'హర్మన్కరన్జిత్',
 'సదాదామూర్తి',
 'మెహర్వాణి',
 'సుర్బి',
 'మైలరపూ',
 'రేఫీక్',
 'భోలానాథ్',
 'సనాలా',
 'కానుక',
 'దేవిదుర్గ',
 'ఇంద్రరాజ్',
 'యేస్మి',
 'అజ్రా',
 'హరగోపాల్',
 'రుద్రపాక',
 'హేమంటొ',
 'సైమపితా',
 'కృపాని',
 'షహ్రాజ్',
 'విశ్వద్',
 'కిలాశ',
 'లీలాప్రసాద్',
 'జాకీ',
 'గుండెపాక',
 'లాభ',
 'బాలకిషన్',
 'నిత్యదాం',
 'నామా',
 'వినయాద్',
 'అబ్దుస్సమద్',
 'అజీజాబేగం',
 'అంజం',
 'షిర్డీ',
 'అనిసియా',
 'అమిన్',
 'దిలవర్',
 'మహతో',
 'హరివాసు',
 'సిధార్థ్',
 'పర్బాత్',
 'యడం',
 'నసీమునిసా',
 'ఇన్షా',
 'హీనల',
 'హాణీఏల',
 'ధన్వాడ',
 'వెలుగు',
 'మయూరం',
 'లొకదాస',
 'అరాస్',
 'అప్పలరాజు',
 'జిని',
 'పరీక్షిత',
 'షాజహా',
 'రాంషా',
 'బహస్కర్',
 'హిమసిందూర',
 'మణిన్వాస్',
 'సుప్రీత',
 'అమరవాది',
 'నామిని',
 'మనోఘ్నా',
 'ఖద్రీ',
 'ఖల్లాష్',
 'శ్యామకురా',
 'మొగులమ్మ',
 'అలీమోద్దీన్',
 'వర్నికా',
 'రెహమ్',
 'రంజీహ్',
 'గంగారావు',
 'శ్రీదామ్',
 'స్వత్రి',
 'రెవెల్లా',
 'కంచన',
 'అల్లాయ్య',
 'నీతిరెడ్డి',
 'బ్రహ్మనంద్',
 'వేదాలు',
 'రఘుమోహన్',
 'శివానీ',
 'మౌనిద్దీన్',
 'ఫోన్సెకా',
 'వారిసూనీస్సా',
 'నాగసుబ్రహ్మణ్యం',
 'చంద్రగిరి',
 'గోపీనాథన్',
 'బహదూర్',
 'ఉమ్మర్',
 'నూర్జహన',
 'అరమ్మ',
 'బొసూమటారీ',
 'యల్లేష్',
 'భగవంత్',
 'బులోకా',
 'ప్రవీణా',
 'ఆంజనేయశాస్త్రి',
 'మాతో',
 'దేబ్జానీ',
 'సాయినాథగంగాధర్',
 'ఇబ్బా',
 'చెన్నకేశవ',
 'పాశ్వాన్',
 'హనీబర్',
 'జార్జి',
 'విప్లవ్',
 'నూరునిస్స',
 'సిరామ్',
 'హతీశ',
 'సాహు',
 'పనేవాడికర్',
 'మునగ్లా',
 'స్రబాన్',
 'ఉత్తేజ్',
 'మెహెర్',
 'శ్రీనినాస్',
 'అస్రునిసా',
 'మమథరానీ',
 'అపేక్ష',
 'ముస్క్వాన్',
 'రఫతుల్లా',
 'లవ్ద్యా',
 'అనోగ్ని',
 'శాంతజీ',
 'చందనకుమార',
 'మచా',
 'యుగేశ్వర్',
 'ఇరవ',
 'విశ్వన్',
 'సాహీత్య',
 'యోగేశ్వర',
 'అభిగ్య్నా',
 'వెంకటరాజ',
 'ఆర్మ్\u200cస్ట్రాంగ్',
 'నెట్టికాంతమ్మ',
 'తేజారం',
 'దేవదాస్',
 'వేణుకుమార్',
 'శదరథ',
 'యణి',
 'స్వస్థిత',
 'అస్గరుద్దీన్',
 'వినిత',
 'దమయంతి',
 'దీపము',
 'హంసిత',
 'మధుకాంత్\u200c',
 'గనగాని',
 'నక్షత్రమని',
 'తౌఫీక్',
 'శోహేబ్\u200cపాష',
 'విధిశా',
 'లావూరి',
 'బైబు',
 'వీజయకూమారన',
 'చీరిక',
 'చిన్నంనాయుడు',
 'ఇషన్',
 'రాణాప్రతాప్',
 'చెంచమ్మ',
 'షెరీన్',
 'మధుశ్రీ',
 'జయనారాయణ',
 'పర్మా',
 'జాన్వీస్లీ',
 'రామవెంకట',
 'లక్ష్మీప్రియా',
 'దేబశీష్',
 'సబాహ్వత్',
 'ఖమ్రొద్దిన్',
 'అడ్డు',
 'తితిక్ష',
 'అసృన్నిత',
 'రమేష్వర్',
 'జగదీశ్వరి',
 'దేస్మండ్',
 'శ్రీవరం',
 'స్వరాజ్యాలక్మి',
 'భీమాచారరీ',
 'సికింధర్',
 'అలహారి',
 'సింథియా',
 'వీరమాత',
 'ఆకర్శీకా',
 'లక్ష్మీలాల',
 'భాంగర్',
 'ఉగాది',
 'జియజుద్దిన్',
 'దుర్గాప్రవీణ',
 'షహాంజ్',
 'అబుదబీ',
 'పాండురంగం',
 'రవిరాజ',
 'బహవానీ',
 'జానయ్య',
 'సచ్చు',
 'ఇఫ్తెకార్\u200c',
 'రంగాచార్యులు',
 'పిలక్ష్మి',
 'వెంకట్రా',
 'రత్నవ్త్',
 'అంజలాలి',
 'జంకల',
 'వజిద్',
 'రాకేష్\u200cగౌడ్\u200c',
 'లోపా',
 'యుశ్రీనివాస్',
 'మౌళేశ్వర',
 'వల్లి',
 'కనకమహాలక్ష్మి',
 'లిల్లీరోజ్',
 'హాష్\u200cముద్దీన్\u200c',
 'ధలవథ్\u200c',
 'నియంత్',
 'నస్రుల్',
 'జకీరుద్దీన్',
 'ఫకీరు',
 'కోమర్',
 'రుషికేత్',
 'షబ్నావీస్',
 'రాజేష్\u200cబాబు',
 'షుషాంత్',
 'ఈతమ్మా',
 'హిమలక్ష్మి',
 'జువెల్',
 'కేశవరాణి',
 'చలమయ్య',
 'సువర్ణరాణి',
 'కళాస్రవంతి',
 'రాంనరేష్',
 'హలియమ్మ',
 'నిశంకర',
 'గణేషన్',
 'జోయెల్',
 'హీరబాయి',
 'సీతారామరాజు',
 'రిహన్నా',
 'నర్సింగ్',
 'కుశాల్',
 'దహలే',
 'ఉధ్యశ్రీ',
 'తేజసిర',
 'మిర్జిమిలా',
 'ఫర్రోక్',
 'రాగంరుత',
 'వీర్',
 'మల్లు',
 'ఫాత్రు',
 'ఏల్లమయ్య',
 'రమణప్రసాద్',
 'ఆమ్రీష్',
 'తాంజియా',
 'సిరోన్మాని',
 'ధూరేందర్',
 'ఫింనే',
 'బ్రజెన్',
 'రెబ్వేక',
 'షహెనజ్',
 'సువాసీనీ',
 'జానవి',
 'ఉన్నికృష్ణ',
 'సూర్యకాంత్',
 'మరియన్నా',
 'ముత్తలూరి',
 'బసవమ్మ',
 'ఖోయ్రున్నెసా',
 'అంజయ్యచారి',
 'సుమాధురి',
 'లక్షుమ్మ',
 'బెన్నీ',
 'వైష్ణవ',
 'ప్రజాపథం',
 'కల్లమ్మ',
 'శ్రీరంగ్',
 'కీర్తిగారి',
 'వెంకటేశ్',
 'హమ్మద్',
 'మెహరూన్',
 'నాగమషిక',
 'రీయా',
 'సాదికభాఈ',
 'రామదాసు',
 'ఎగ్వే',
 'అప్పాలస్వామి',
 'మ్నస్రీ',
 'హిమకళ్యాణి',
 'యువరాజా',
 'సుమత్యు',
 'ట్రిగ్వేల్',
 'కల్యాకర్',
 'కయ్తి',
 'విజయ్పవన్',
 'రావరి',
 'సౌన్ధర్యా',
 'ప్రసేన్\u200cజిత్',
 'తస్లిం',
 'వెంకటశివ',
 'జెమున',
 'హుస్సేన్',
 'ఇర్ఫాన్ష',
 'సుషంత్',
 'ఉసేనయ్య',
 'మస్తానమ్మ',
 'థనిష్',
 'కారంచేడు',
 'రొశమ్మ',
 'ఆవాజ్',
 'శత్దర్ష్నం',
 'విగిత',
 'ప్రమిత',
 'శివరాంప్రాసాద్',
 'శిమరొజ',
 'మోహమ్మద్సమీర్',
 'ఆత్రేయ',
 'జాన',
 'సికందర్',
 'అంతోష్',
 'జెసికా',
 'ఆర్లక్ష్మి',
 'శ్వేతా',
 'కలేబ్',
 'సిసిల్',
 'ఘనీ',
 'షాగా',
 'సనౌల్లా',
 'సుమంచందర్',
 'బుచ్చు',
 'నబీనా',
 'షెకున్',
 'సౌధి',
 'వినకొల్లు',
 'ప్రావిణ్య',
 'వేవేందార',
 'తబ్రేజ్',
 'ముఖీముద్దీన్',
 'రామవతి',
 'హస్సనుద్దీన్',
 'జ్ఞానప్రకాశ్',
 'ఆంజనేయుల',
 'సుమేర్',
 'ఆంజనేలు',
 'నయ్యర్',
 'తేజవతి',
 'జయీత',
 'పట్లోళ్ల',
 'నృపేన్',
 'జాకీర్',
 'హరిరాం',
 'ముల్లిదేవి',
 'దనజ',
 'ధనవాత్',
 'ధనంజి',
 'ఖచ్చితంగా',
 'ప్రబ్శర్మ',
 'సాయిభ',
 'ఓంకారేశ్వర',
 'సంత్ర',
 'వెంకటరామ',
 'విరుపాక్షపా',
 'రామానుజ్',
 'ఖుండ్',
 'జోషి',
 'ప్రవీందర్',
 'విఠల్',
 'ప్రసనాలినీ',
 'సుందరం',
 'ఇద్రిష',
 'యల్లసిరి',
 'శ్రీకారి',
 'దూబే',
 'దుధంకర్',
 'మేడా',
 'దహీం',
 'సత్యభార్గావి',
 'వర్ధమాన్',
 'రఫీ',
 'వేగిని',
 'అంజిర',
 'యటిక్',
 'దేవేద్ర',
 'కుశాంక',
 'ధమరసింగ్',
 'నితీషా',
 'బన్సీ',
 'చంద్రజిత్',
 'శ్రీపెరంబుదూర్',
 'ఇస్మల్బి',
 'ఇంద్రస్కర్',
 'సూరి',
 'జితేశ్',
 'నిర్దవెల్లి',
 'కుష్వంత్',
 'త్రిలోకీ',
 'సిద్దంతపు',
 'సుశీరాజ్',
 'సదాఫులే',
 'ఫణీంద్రబాబు',
 'పోతరవేణి',
 'మణిభ్',
 'శంభవి',
 'ఉషశ్రీ',
 'వరదానమ్మ',
 'యోగానంద్',
 'సంతోషరాజ్',
 'నిఖత్',
 'ఆకారం',
 'లక్య',
 'మంతని',
 'మైయా',
 'ఉమాదాస్',
 'సాయిప్రణీత్',
 'కడెం',
 'మంజులవాణి',
 'ఫారాజ్',
 'కువర',
 'వెంకాటరామయ్య',
 'నిఖితా',
 'క్రిస్టయ్య',
 'అర్బాజుద్దీన్',
 'చండేశ',
 'రూపారవీంద్రనాధ్',
 'భర్తేందు',
 'సాంబశివరెడ్డి',
 'సౌమిక',
 'నీలవ్వా',
 'విదిత',
 'ఐలవ్వ',
 'మునేగల',
 'జిన్నికుంట్ల',
 'జసిమిన్',
 'జ్యొశ్నవీ',
 'పబ్బవర్',
 'భాకరమ్',
 'ఉమామహేశ్వరరావు',
 'రామానాయక్',
 'హేమనకర',
 'సుకనమ్మ',
 'తారకరామ్',
 'శాంతకుమార్',
 'వసంతరాయలు',
 'ముష్యం',
 'నాంచారి',
 'ఆది',
 'సిద్దుల్',
 'సఇవీర',
 'భిన్య',
 'ముఖా',
 'ఇలియాజ్',
 'షమీబేగం',
 'అఫ్సారి',
 'పర్వతవర్థిని',
 'సుభయ్య',
 'యశస్వినిరమ్యవాణి',
 'ధారుణి',
 'నజమున్నీసా',
 'మిశ్రా',
 'లావుడియా',
 'అపృత్',
 'కళవేన',
 'ఆశ్రయ్',
 'హైమవంతి',
 'లోహిత్య',
 'సంజీతా',
 'అస్పెన్',
 'బలరామన్',
 'రుట్వ',
 'హితేందర్',
 'పింగిలి',
 'రాజేష్కల్యాణ్',
 'యోసెబు',
 'గున్నయ్య',
 'బాబాయ్య',
 'బలభీమ్',
 'రేణుకుంట',
 'వంజరి',
 'వీశవనాథం',
 'మేరిస్టెల్లా',
 'గిర్ధర్',
 'వాటా',
 'కావ్యసుధ',
 'కాజేశ్వరమ్మ',
 'మనీందర్',
 'హరీంద్రనాథ్',
 'మోరిస్',
 'అఈనల్ల',
 'గిరిజేష్',
 'ఉమేష్',
 'కుమారీ',
 'స్వాధీన్',
 'నాగభూషణ',
 'శ్రీవిన్',
 'గురుప్రసాద్',
 'విజ్ఞాని',
 'నాతారం',
 'సితార',
 'బిమ్లా',
 'కొమురవ్వ',
 'అల్లూరిదేవి',
 'ధర్మేంధర్',
 'షియాలాజా',
 'మనుక',
 'సయ్యద్బీ',
 'మరియమ్మ',
 'సోమనాథం',
 'ఖజీర్',
 'కీర్డత్',
 'షమ్మూ',
 'హాన్',
 'నిదీష్',
 'సైండర్',
 'హయగ్రీవ',
 'మెహా',
 'గౌరీన్',
 'రోజారాణి',
 'రుబుయినా',
 'రుక్సానుద్దీన్',
 'స్వభావిక',
 'వీరమాణి',
 'బలరమణ',
 'కుతుబొద్దిన్',
 'మత్తర్లు',
 'సింగమ్మ',
 'సుమీలమ్మ',
 'విశ్వనాధన్',
 'తులసిరాం',
 'షహెనస్',
 'దలమ్మ',
 'నిబియా',
 'హేమ్ని',
 'సుబేష్',
 'అహ్మేదుల్లా',
 'అల్బెర్ట్',
 'తుల్జయ్య',
 'జోగేశ్',
 'సర్దార్నీ',
 'బ్రామానందమ్',
 'నిమాయ',
 'సుదర్శన్',
 'మన్సూర్',
 'జయబాల',
 'వెంకటాకోటి',
 'భారతవాస',
 'రేరుకా',
 'గంగసాని',
 'అజయ్',
 'చంద్రశేఖరం',
 'అఖిల',
 'ఉమేస్వర్',
 'జతిన్',
 'యశోదాకృష్ణ',
 'ఇక్రర',
 'ఖనిద్',
 'జమునకుమారి',
 'రాజశేఖరుని',
 'ముత్తిరెడ్డి',
 'రమ్మేశ్వరి',
 'ఏక్బర',
 'స్రస్టీ',
 'ణను',
 'అరోగ్యం',
 'గాలిబ్',
 'పవిండర',
 'షెషవలి',
 'గోపీచందర్',
 'రాన్సి',
 'శ్రీనికెట్',
 'షాస్వాత్',
 'తివారి',
 'రవిబాబు',
 'జిషాన్',
 'వరుణ',
 'రాజకళ',
 'కుసుబు',
 'దేశి',
 'తేజస్విని',
 'సలామ్మ',
 'షాబాన్',
 'స్పూర్తి',
 'సజయశ్రీ',
 'భట్నాగర్',
 'దివియ',
 'లొక్సాఈనాథ',
 'మేశ్వర్',
 'జొగేశ్ర',
 'రేఖాభాఈ',
 'నరేంద్రనాథ్',
 'బావయ్య',
 'కమ్లీ',
 'శైలజకుమారి',
 'బాబన్న',
 'ఫాతిమాబేగం',
 'శంషుద్దిన్',
 'దివ్యాంజలి',
 'శారాధి',
 'తోసిఫ్',
 'సాధన్',
 'కరూనాకరూ',
 'అలేఖ',
 'ఖదీరున్నీసా',
 'నోహిత',
 'గార్గేయి',
 'అనిసురహ్మాన్',
 'అంకేష్',
 'భూదేవి',
 'తిరుమలసాయి',
 'విమలేశ్వరి',
 'రథిన',
 'స్రవిని',
 'కోహిర్జంగల్',
 'సాంబరాజులా',
 'వైకుంటం',
 'సుధాంష్',
 'కమలహసన్',
 'ససన్త్ర',
 'క్రుషి',
 'ఫ్రాజ్',
 'కృష్ణార్జునులు',
 'శారమ్మ',
 'త్రిమండాలు',
 'రెనోజా',
 'వేణునాయక్',
 'విరెన్',
 'మాధ',
 'శీతల్',
 'రామెడి',
 'స్రవిష్ట',
 'మణివన్',
 'తన్ను',
 'జమీన్',
 'సబుంకర్',
 'పెరంటాలు',
 'ధనాంజనేయులు',
 'వీరాలక్ష్మి',
 'ఓస్వాల్డ్',
 'కృష్ణకుమరి',
 'కెయ్సర్',
 'గణేటీ',
 'మరికంటి',
 'రామగల',
 'దేవేంద్రకుమార్',
 'తరులతా',
 'హర్జోత్',
 'గిల్రిష్',
 'సమ్యా',
 'నజరులైస్లామ్',
 'దివ్యవాణి',
 'భార్గవసాయి',
 'రుఠ్విక',
 'ఒదవ్వ',
 'రామకంతం',
 'సుభాషిణమ్మ',
 'మగన్\u200cలాల్',
 'రాచమల',
 'బైధర్',
 'విజయసేన',
 'బిల్లా',
 'షాహ్న్\u200cవాజ్',
 'భీమగోని',
 'లక్ష్మిబాయి',
 'కన్నయా',
 'షిరిడి',
 'దాన్యంరాజు',
 'మడభూషణ',
 'గునాబొఈనా',
 'శ్రీనివాసులరెడ్డి',
 'మెగాజీ',
 'హన్సర్',
 'ఆమిర్',
 'వార్త్య',
 'యాదాబాయి',
 'ఆరీనాథ',
 'బశారత్',
 'జీవితా',
 'జయశిల్ప',
 'శఉఖి',
 'చరిత్',
 'మణిమిత్ర',
 'సుధాశ్రీ',
 'మనన్',
 'మేవమ్మా',
 'పతిరాజ్',
 'నిక్షిత',
 'పర్మీందర్',
 'మాలిగా',
 'యేసిరెడ్డి',
 'షెట్టైయా',
 'పృథ్వినాథ్\u200c',
 'ప్రసన్నామృతం',
 'పరమధ',
 'ఏసూరన్',
 'బాలిరెడ్డి',
 'రహమాతునిస్సా',
 'అనీఖ',
 'జునేద్',
 'షీరాజ్',
 'బాలేశ్వరీ',
 'రెనీ',
 'చంద్రమతి',
 'యేసుదాస',
 'షేర్సింగ్',
 'రుజ్మా',
 'హుబెడ',
 'శువర్ణ',
 'అషరీఫ్',
 'జతీంద్ర',
 'కన్నెలి',
 'రాజేష్',
 'మేగ్య',
 'సలాంక్',
 'రాసిక్',
 'నావికా',
 'కృష్ణమూర్తి',
 'ఎలిజెబెత్',
 'మహితదివ్య',
 'భర్గాని',
 'పూర్ణచెందర్',
 'గౌలా',
 'అజాజుద్దీన్',
 'పురంశెట్టి',
 'మల్లహరన్',
 'లుంగిపన్న',
 'మాధభూషి',
 'ప్రేమానందన్',
 'పుష్యరాగం',
 'శైవికాస్',
 'హనుమంతి',
 'షంషాద్',
 'స్వదేశ్',
 'నాగధర్',
 'మోహనశ్రీకాంత్',
 'లక్ష్మీపతిరావు',
 'సోమాచిన్నా',
 'హస్మతున్',
 'షివాలీల',
 'అడవ',
 'పూర్ణమ్మ',
 'హృదయరాజు',
 'పసెన్జీత్',
 'గజ',
 'జనత్',
 'రేమాదేవీ',
 'నాగవాలిక',
 'అనిల్భాయ్',
 'మరోజ్',
 'సత్యవాని',
 'ఖతా',
 'వీరత్న',
 'అదిమూల్లా',
 'స్వరాజ',
 'హోన్నా',
 'నెజామ్',
 'ఆహేఠేశమూదదీన',
 'బిరుదరాజు',
 'నీహారిఖ',
 'క్సయివేర్',
 'మురళీధర',
 'పల్లవి',
 'పమూర్తీ',
 'వేణుబాల',
 'మోనోజ్',
 'సుక్లేష్',
 'హరిశశయ్య',
 'కుబ్రాబి',
 'పండారమ్మ',
 'హవాబీ',
 'మూసా',
 'సుహిని',
 'కేశవన్',
 'ఇంద్రయ్య',
 'సముల్',
 'శేశ్ద్రివాశ',
 'భూదాజీ',
 'ఆఫ్జియా',
 'దిద్దివేరభద్ర',
 'సుబ్బమోల',
 'రామకోటేశ్వర్',
 'నాగశెట్టి',
 'కృశ్వేనీ',
 'హర్శానందన',
 'ద్రౌపతమ్మ',
 'మెకామ్స్',
 'సామ్సన్క్రిస్టోఫర్',
 'రూపా',
 'మనగలి',
 'శ్రీనాద్',
 'తృక్షిత',
 'రాజేఎస్',
 'ప్రియా',
 'ఎర్రన్న',
 'సామ్రాజ్యలక్ష్మి',
 'శాలియా',
 'ప్రశాస్త్',
 'ఓషిం',
 'రామ్లోట్',
 'కమేశ్వరరావు',
 'హరప్రసన్న',
 'మునీద్ర',
 'హర్షైత',
 'ప్యాట',
 'శేషబత్తర్',
 'శ్యామలత',
 'గిరిరాజ్',
 'గిరిజస్వేణి',
 'సన్ఖొజీత',
 'శంషోద్దీన్',
 'రుంజలా',
 'సిరామ్సెట్టి',
 'రషేద',
 'అనిల',
 'నెర్మలా',
 'మయానా',
 'బాలమియా',
 'ప్రమితి',
 'కలీమ',
 'తరుణుమ్',
 'సత్యరాం',
 'ఖురేశీ',
 'శ్రీపాదారామ్',
 'చెరుకూరి',
 'స్సరోజన',
 'శేషస్రీ',
 'రామేకబల',
 'మధులిక',
 'ప్రమేష్',
 'ఇస్మాయిల్',
 'తిరుమలేశ్వరి',
 'బీమయ్య',
 'యమునాశ్రీ',
 'జాయనేల',
 'అశోకరాజు',
 'అంబరీష',
 'నిమా',
 'మునియ్య',
 'ఒక',
 'ఇంద్రచంద్\u200c',
 'వంజయ్య',
 'దీక్సాహ',
 'వాణిశ్రీ',
 'సమరంజనాచారి',
 'నబమిత',
 'కరేగం',
 'రామోజీ',
 'మునిశ్రీ',
 'పెంటం',
 'పంచుమర్తి',
 'భవానిప్రసాద్',
 'లక్ష్మీప్రాసన',
 'కహ్లీల్',
 'లక్ష్మీగణపతి',
 'రమజ్',
 'గాడియం',
 'గాలా',
 'మిత్రవింద',
 'అక్కమాదేవి',
 'మహంత',
 'ఖలేందర్',
 'అమృతవాణి',
 'నిస్శంకరరావు',
 'షెరియా',
 'కమెలేకర్',
 'దశనాథ్',
 'కన్మంత',
 'ముజిబులాహ',
 'మస్కు',
 'సల్లోజీ',
 'నర్శిముడు',
 'రాణిలా',
 'శివకోటేశ్వరి',
 'కచావా',
 'అత్\u200cహర్',
 'అన్నస్',
 'గుర్వ',
 'శ్యామలపెల్లి',
 'బాలమణెమ్మ',
 'నితిష',
 'పార్మిన',
 'నబిలా',
 'హిరావత్',
 'మతిలాల్',
 'తమ్కీన్',
 'చిత్రంజఅలి',
 'బలరామయ్య',
 'రాజపూడి',
 'బిస్వజీత్',
 'చరణప్రీత',
 'ప్రవళి',
 'లక్ష్మినర్స',
 'రానీలా',
 'అడ్డం',
 'ఇశరార',
 'వేదమా',
 'ల్విషల',
 'ఫహిమోద్దీన్',
 'సామ్రిన్',
 'దాక్షాయిణి',
 'పార్వత్',
 'యస్రవీందర్',
 'చిడప',
 'విద్యాధరి',
 'మాలీశ్వర్యా',
 'సుదర్శన',
 'ప్రవాహిక',
 'అల్లమ్మ',
 'రొంపిచర్ల',
 'సుధీరు',
 'గాయత్ర్హి',
 'మురగన్',
 'సమిదాపోగు',
 'అచయుత',
 'జేమీతిక',
 'ఖైరా',
 'సుబ్రమనియన్',
 'సాషషాయ్',
 ...}

In [24]:
uniq_df.head()

   Unqiue_names Telugu_unique_names  telugu_wronginfo
0  Hrushikeswar        హ్రుశీకేశ్వర               0.0
1        Hrudai              హ్రుదై               0.0
2      Hruthika             హ్రుతిక               0.0
3      Hrithvik          హ్రిత్విక్               0.0
4         Hritu              హ్రితు               0.0

In [25]:
Final_data.head()

  NAME OF THE BENEFICIARY  Mobile Number
0        అంకర్ల లక్ష్మమ్మ     9542329537
1                  అంజమ్మ     9603355707
2                  అంజమ్మ     9963661579
3               అంజిలామ్మ     9701261327
4                అంజిలేయా     9000415602

In [26]:
Final_data.columns

Index(['NAME OF THE BENEFICIARY', 'Mobile Number'], dtype='object')

In [27]:
import pandas as pd

# Assuming you have loaded the DataFrames df and unique_df as mentioned in your code

# Convert the unique names to a set for faster lookups
first_names_set = unique_names_set


# Function to extract first names using sets
def extract_first_name(name, first_names_set):
    words = name.split()
    for word in words:
        if word in first_names_set:
            return word
    return None  # Return None if no match is found

# Applying the function to create the 'first_name' column
Final_data['first_name_Telugu'] = Final_data['NAME OF THE BENEFICIARY'].apply(lambda x: extract_first_name(x, first_names_set))

In [28]:
Final_data.head(50)

   NAME OF THE BENEFICIARY  Mobile Number first_name_Telugu
0         అంకర్ల లక్ష్మమ్మ     9542329537         లక్ష్మమ్మ
1                   అంజమ్మ     9603355707            అంజమ్మ
2                   అంజమ్మ     9963661579            అంజమ్మ
3                అంజిలామ్మ     9701261327              None
4                 అంజిలేయా     9000415602              None
5      అగరం అంజనేయులు గౌడ్     9581052637         అంజనేయులు
6                    అచమ్మ     9963723154              None
7      అథినెమోని చెన్నామ్మ     7207280872              None
8        అథీనామోని అలువేలు     9705374995           అలువేలు
9              అదే కొండమ్మ     8978871357           కొండమ్మ
10         అనంతులా ఉమాదేవి     9010516268           ఉమాదేవి
11                   అనిల్     9822870103             అనిల్
12             అనుపతి రాజు     8008308467              రాజు
13        అన్పతి లక్ష్మమ్మ     9959987058         లక్ష్మమ్మ
14            అమ్గోత్ దేవి     6300447919              దేవి
15          అమ్గోత్ బుజ్జీ     9951509302              None
16         అమ్గోత్ శంకరమ్మ     9948082056           శంకరమ్మ
17                 అలివేలా     7093459602              None
18         అలైక్ చెన్నామ్మ     9701876093              None
19           అల్లి అంజలమ్మ     9966116382             అల్లి
20           అల్లి మైబామ్మ     9618312542             అల్లి
21                 అశ్విని     7337015597           అశ్విని
22                 అశ్విని     6302777194           అశ్విని
23       అసెంగారి వెంకటమ్మ     6281644897          వెంకటమ్మ
24              ఆమేనా బేగం     8886385886              బేగం
25             ఆరె లక్ష్మి     9542888189           లక్ష్మి
26        ఆర్ ఆనంద్ రెడ్డి     7673945521               ఆర్
27            ఆర్ రాములమ్మ     9000000000               ఆర్
28           ఇ అరుణ జ్యోతి     9912351723              అరుణ
29              ఇ చెన్నామా     7036683225              None
30                ఇ యాదమ్మ     9912474615            యాదమ్మ
31              ఇప్పలి రఘు     9573786317               రఘు
32         ఇప్పాలి బాలామ్మ     8367328182              None
33              ఇసామ్ షోభా     8919138215              None
34          ఇస్లావత్ సరోజా     8464822270          ఇస్లావత్
35           ఉపగంటి మనెమ్మ     9542341442            మనెమ్మ
36    ఉప్పరి పెద్ద మల్లయ్య     9398725754            ఉప్పరి
37           ఉప్పరీ నారాయణ     9949848653            నారాయణ
38               ఎ మల్లమ్మ     7674844198           మల్లమ్మ
39              ఎం చంద్రకల     9950207972           చంద్రకల
40       ఎం ప్రవీణ్ కుమార్     9030936164           ప్రవీణ్
41                  ఎం రవి     9676157606               రవి
42               ఎం శ్రీను     7330665205            శ్రీను
43              ఎం సత్యమ్మ     9550618243           సత్యమ్మ
44      ఎడిగ కృష్ణయ్య గౌడ్     9618928080          కృష్ణయ్య
45              ఎడ్డీ షమంత     9000864659              None
46        ఎద్దుల గోవిందమ్మ     9705281323            ఎద్దుల
47             ఎన్ తిమన్నా     9959892844               ఎన్
48        ఎన్ ముత్యాలిబాయి     9951172937               ఎన్
49            ఎన్ రాములమ్మ     7093232476               ఎన్

In [29]:
Final_data['first_name_Telugu'].isnull().sum()

153

In [30]:
uniq_df.head()

   Unqiue_names Telugu_unique_names  telugu_wronginfo
0  Hrushikeswar        హ్రుశీకేశ్వర               0.0
1        Hrudai              హ్రుదై               0.0
2      Hruthika             హ్రుతిక               0.0
3      Hrithvik          హ్రిత్విక్               0.0
4         Hritu              హ్రితు               0.0

In [31]:
# Create a dictionary mapping English names to Telugu names
name_mapping = uniq_df.set_index('Telugu_unique_names')['Unqiue_names'].to_dict()

In [32]:
name_mapping

{'హ్రుశీకేశ్వర': 'Hrushikeswar',
 'హ్రుదై': 'Hrudai',
 'హ్రుతిక': 'Hruthika',
 'హ్రిత్విక్': 'Hrithvik',
 'హ్రితు': 'Hritu',
 'హ్రితిక్': 'Hrithik',
 'హ్రితికేష్': 'Hrithikesh',
 'హ్రితబన్': 'Hritaban',
 'హ్యూమర్': 'Humer',
 'హ్యారీ': 'Harry',
 'హ్యాండే': 'Handay',
 'హ్యాండికి': 'Handiqui',
 'హ్యమవతి': 'Hyamavathi',
 'హ్యచింత్': 'Hyachinth',
 'హ్యగ్రీవ': 'Hyagreeva',
 'హ్యంధవి': 'Hyandhavi',
 'హ్మీమ': 'Hemima',
 'హ్మిరారాం': 'Hamiraram',
 'హ్ప్కిబ': 'Hepciba',
 'హ్నీఫ్': 'Hanief',
 'హ్నమంతుడు': 'Hnamanthu',
 'హ్జ్రతారనుం': 'Hzrataranum',
 'హ్గ్నదవి': 'Hgndavi',
 'హౌస్': 'Haus',
 'హోహిత': 'Hohith',
 'హోస్సైన్': 'Hosen',
 'హోసున్': 'Hosun',
 'హోసియా': 'Hosea',
 'హోసానా': 'Hosanna',
 'హోష్మా': 'Hoshma',
 'హోవర్': 'Hover',
 'హోల్లా': 'Holla',
 'హోర్': 'Hoore',
 'హోయిజల్': 'Hoizal',
 'హోమ్': 'Hom',
 'హోమినీ': 'Homini',
 'హోమి': 'Homi',
 'హోమశ్రీ': 'Homasri',
 'హోమకేష్': 'Homakesh',
 'హోమం': 'Homa',
 'హోన్యా': 'Honya',
 'హోన్నా': 'Honna',
 'హోనప్ప': 'Honappa',
 'హోడ': 'Hoda',
 'హోజారాహెమ్జామిజోరం': 'Hojarahemjamizoram',
 'హోక్': 'Hoque',
 'హొషాంగ్': 'Katy',
 'హొన్నెమనే': 'Honnemane',
 'హొన్నెకేరీ': 'Honnekery',
 'హొన్నావర్': 'Honnavar',
 'హొఠ్నికా': 'Hothnika',
 'హైసింత్': 'Hycinth',
 'హైవేర్': 'Hiware',
 'హైరాదేవీ': 'Hairadevi',
 'హైమెండర్': 'Hymender',
 'హైమీద్': 'Hymed',
 'హైమావత్': 'Hymavath',
 'హైమావతి': 'Hymawathi',
 'హైమావతమ్మ': 'Hymavathamma',
 'హైమారావు': 'Hymarao',
 'హైమాదేవి': 'Hymadevi',
 'హైమా': 'Hyma',
 'హైమవైహి': 'Hymavayhi',
 'హైమవతి': 'Haimvathi',
 'హైమవంతి': 'Hymavanthi',
 'హైమద్': 'Haimad',
 'హైమద': 'Haymed',
 'హైమత్పాషా': 'Hymathpasha',
 'హైమత్': 'Haimath',
 'హైమతి': 'Hymathi',
 'హైమడ': 'Hymada',
 'హైమకుమారి': 'Hymakumari',
 'హైమ': 'Haima',
 'హైబాత్': 'Haibath',
 'హైబతి': 'Haibathi',
 'హైప్పీ': 'Happy',
 'హైదవి': 'Hydavi',
 'హైదర్ఖాన్': 'Hyderkhan',
 'హైదర్': 'Hyder',
 'హైదరుద్దీన్': 'Hyderuddin',
 'హైదరాలీ': 'Haiderali',
 'హైదరాలి': 'Hyderali',
 'హైతన్యా': 'Haitanya',
 'హైగ్రీవ్': 'Hygreev',
 'హైగ్రీవా': 'Haigreeva',
 'హైంధవి': 'Hyndhavi',
 'హైందావీ': 'Haindavi',
 'హైందవి': 'Hyndavi',
 'హేసాబుదిన': 'Hesabudin',
 'హేశ్వంత్': 'Heshwanth',
 'హేశామ': 'Hesham',
 'హేవమ్మ': 'Hevamma',
 'హేవంతి': 'Hevanti',
 'హేల': 'Hela',
 'హేరూర': 'Heroor',
 'హేరు': 'Heru',
 'హేరల': 'Heral',
 'హేరం': 'Heram',
 'హేమ్ని': 'Hemni',
 'హేమ్\u200cనాని': 'Hemnani',
 'హేమ్చంద్ర్': 'Hemchander',
 'హేమ్చంద్': 'Hemchand',
 'హేమ్': 'Hem',
 'హేమొన్థ': 'Hemonth',
 'హేమేంద్ర': 'Hemendra',
 'హేమెన్': 'Hemen',
 'హేమెందర్': 'Hemender',
 'హేము': 'Hemu',
 'హేమీమా': 'Hemeema',
 'హేమీ': 'Hemi',
 'హేమిష్': 'Hemish',
 'హేమిని': 'Hemini',
 'హేమినా': 'Hemina',
 'హేమావాణీ': 'Hemavani',
 'హేమావతి': 'Hemavathi',
 'హేమాల్': 'Hemal',
 'హేమాలీంగేశ్వర': 'Hemalingeswar',
 'హేమాలి': 'Hemali',
 'హేమారావు': 'Hemarao',
 'హేమారం': 'Hemaram',
 'హేమానుషా': 'Hemanusha',
 'హేమాని': 'Hemani',
 'హేమాద్రి': 'Hemadri',
 'హేమాదేవి': 'Hemadevi',
 'హేమాంబర్': 'Hemamber',
 'హేమాంబరధరరావు': 'Hemambaradhararao',
 'హేమాంగ్': 'Hemang',
 'హేమాంక': 'Hemanka',
 'హేమా': 'Hayma',
 'హేమస్యామా': 'Hemasyama',
 'హేమసుధ': 'Hemasudha',
 'హేమసుంధర': 'Hemasundhara',
 'హేమసుందర్': 'Hemasunder',
 'హేమసుందర': 'Hemasundara',
 'హేమసాయి': 'Hemasai',
 'హేమశ్రీ': 'Hemasri',
 'హేమవెంకట': 'Hemavenkata',
 'హేమవీర': 'Hemaveera',
 'హేమవంత్': 'Heamavanth',
 'హేమలాల': 'Hemlal',
 'హేమలలత': 'Hemalalatha',
 'హేమలతాదేవి': 'Hemalthadevi',
 'హేమలతా': 'Hemlata',
 'హేమలతనాయుడు': 'Hemalathanaidu',
 'హేమలత': 'Hemlatha',
 'హేమలక్ష్మి': 'Hemalakshmi',
 'హేమలంబ': 'Hemalamba',
 'హేమరూప': 'Hemaroopa',
 'హేమరాణి': 'Hemarani',
 'హేమరాజ్': 'Hemraj',
 'హేమయు': 'Hemayu',
 'హేమమాలిని': 'Hemamalini',
 'హేమమాలిక': 'Hemamalika',
 'హేమబిందు': 'Hemabindu',
 'హేమబాల': 'Hemabala',
 'హేమప్రియా': 'Hemapiriya',
 'హేమన్శ': 'Hemansh',
 'హేమనాధ్': 'Hemanadh',
 'హేమనాథ్': 'Hemanath',
 'హేమనకర': 'Heamanker',
 'హేమదుర్గ': 'Hemadurga',
 'హేమత్': 'Hemath',
 'హేమణేష్': 'Hemanesh',
 'హేమచంద్ర': 'Hemachandra',
 'హేమచందర్': 'Hemchandar',
 'హేమకుమార్': 'Hemkumar',
 'హేమకుమారి': 'Hemakumari',
 'హేమకిరణ్': 'Hemakiran',
 'హేమఎంబీకా': 'Hemambika',
 'హేమంత్\u200cసాయి': 'Hemanthsai',
 'హేమంత్న్': 'Hemanthn',
 'హేమంత్': 'Hemanthh',
 'హేమంతీ': 'Hemanti',
 'హేమంతి': 'Hemanthi',
 'హేమంతరెడ్డి': 'Hemanthareddy',
 'హేమంతకుమార్': 'Hemanthkumar',
 'హేమంత': 'Hemantha',
 'హేమంటొ': 'Hemanto',
 'హేమంగినీ': 'Hemangini',
 'హేమంగి': 'Hemangi',
 'హేమ': 'Hema',
 'హేబ్శేబా': 'Hebsheba',
 'హేబీబూదదీన': 'Hebeebuddin',
 'హేబా': 'Heba',
 'హేప్సీ': 'Hepsi',
 'హేపీసీబా': 'Hepseeba',
 'హేపీజిబహ్': 'Hepzibah',
 'హేన్మూలా': 'Henmula',
 'హేన్మాబాఈ': 'Hanmabai',
 'హేన్మయ్య': 'Henmaiah',
 'హేన్నా': 'Henna',
 'హేనాల్': 'Henal',
 'హేనాకౌసర్': 'Henakauser',
 'హేతల్': 'Hetal',
 'హేతరామ': 'Hetram',
 'హేజిరాబీ': 'Hazirabee',
 'హేచు': 'Hechu',
 'హేగ్': 'Hague',
 'హేకాశ': 'Heakash',
 'హెస్సింగ్': 'Hessing',
 'హెల్మ్': 'Helma',
 'హెలెన్': 'Helen',
 'హెలీనా': 'Helina',
 'హెలిమా': 'Helima',
 'హెలినా': 'Helena',
 'హెర్ల్హోయిహ్క్': 'Herlhoihc',
 'హెర్మిలా': 'Hermila',
 'హెర్బర్ట్': 'Herbert',
 'హెరైడ్': 'Heraid',
 'హెరెకర్': 'Herekar',
 'హెరాల్డ్': 'Harold',
 'హెమ్బజమ్మ': 'Hemabjamma',
 'హెమాన్': 'Heman',
 'హెమవతి': 'Hemavati',
 'హెమలత': 'Hemalath',
 'హెబ్సిభ': 'Hebsibha',
 'హెబ్లీ': 'Hebbly',
 'హెబ్రోన్': 'Hebron',
 'హెబ్రాహిం': 'Hebrahim',
 'హెబ్బార్': 'Hebbar',
 'హెబ్బాత్': 'Hebbath',
 'హెబ్బటం': 'Hebbatam',
 'హెబ్నేజర్': 'Hebnezer',
 'హెఫ్సిబా': 'Hephsiba',
 'హెఫ్జిభా': 'Hephzibha',
 'హెఫ్జిబ': 'Hephzibah',
 'హెఫ్': 'Heph',
 'హెప్సీబా': 'Hepsyba',
 'హెప్సీ': 'Hepcy',
 'హెప్సిభా': 'Hepsibha',
 'హెప్సిబా': 'Hepsibah',
 'హెప్సిబ': 'Hepsiba',
 'హెపైభా': 'Hepaibha',
 'హెపిస్బా': 'Hepisba',
 'హెన్రీజస్టిన్': 'Henryjustin',
 'హెన్రీ': 'Henry',
 'హెన్రిఎత్తా': 'Henrietta',
 'హెనా': 'Hena',
 'హెదౌ': 'Hedau',
 'హెత': 'Heta',
 'హెడ': 'Heda',
 'హెట్': 'Het',
 'హెటల్': 'Hethal',
 'హెజీబు': 'Hejeebu',
 'హెచ్': 'Poonamdevi',
 'హెండేవార్': 'Hendewar',
 'హెంఇలిన్': 'Heamilin',
 'హృసికేశ్': 'Hrusikesh',
 'హృషీకేష్': 'Hrushikesh',
 'హృషితా': 'Hrishita',
 'హృషిత': 'Hrushitha',
 'హృషికేస': 'Hrushikesa',
 'హృషికేశ్': 'Hrishikesh',
 'హృషికా': 'Hrushika',
 'హృషిక': 'Hrishika',
 'హృషి': 'Hrushi',
 'హృల్లేఖ': 'Hrullekha',
 'హృదయ్': 'Hrudhay',
 'హృదయా': 'Hrudhaya',
 'హృదయరాజు': 'Hrudayaraju',
 'హృదయబాబు': 'Hrudaybabu',
 'హృదయ': 'Hrudaya',
 'హృదఏ': 'Hrde',
 'హృత్విక్': 'Hruthivk',
 'హృతేష్': 'Hritesh',
 'హృతిష్': 'Hritish',
 'హృతిక్': 'Hrutik',
 'హృతిక': 'Hrithika',
 'హూస్సీన్బీ': 'Hussinbi',
 'హూస్మన': 'Husman',
 'హూసైనమ్మ': 'Hussainama',
 'హూసమూఖ': 'Husmukh',
 'హూవమ్మా': 'Hoovamma',
 'హూవగర్': 'Hoovagar',
 'హూర్ఫరియాల్': 'Hoorfariyal',
 'హూర్': 'Hoor',
 'హూరీన్': 'Hooreen',
 'హూరియా': 'Hooriya',
 'హూరమట': 'Hurmat',
 'హూరబానూ': 'Hoorbanu',
 'హూన్': 'Hoon',
 'హూజేఫ్': 'Hujef',
 'హూగవ': 'Hoogav',
 'హూగర్': 'Hoogar',
 'హుస్స్డ్న్': 'Hussdan',
 'హుస్సైనయ్య': 'Hussaina',
 'హుస్సేయన్': 'Hussaian',
 'హుస్సేన్సాబ్': 'Hussainsab',
 'హుస్సేన్బీ': 'Hussainbi',
 'హుస్సేన్': 'Huusain',
 'హుస్సేనిఖాద్రి': 'Hussainiquadri',
 'హుస్సేని': 'Husseni',
 'హుస్సేనయ్య': 'Hussainaiah',
 'హుస్సేనప్ప': 'Hussainappa',
 'హుస్సుఎన్': 'Hussuen',
 'హుస్సియన్': 'Hussian',
 'హుస్సిన్': 'Hussin',
 'హుస్సాయి': 'Hussai',
 'హుస్సాన్': 'Hussan',
 'హుస్సాంగ్రే': 'Hussangre',
 'హుస్య': 'Husya',
 'హుస్బాన్': 'Husbaan',
 'హుస్నైన్': 'Husnain',
 'హుస్నా': 'Hussna',
 'హుసైన్': 'Hussen',
 'హుసైని': 'Husaini',
 'హుసైనమ్మ': 'Hussenamma',
 'హుసేయిన్': 'Husein',
 'హుసేయనమ్మ': 'Huusaianamma',
 'హుసేన్': 'Husen',
 'హుసేనా': 'Husena',
 'హుసేనమ్మా': 'Husenamma',
 'హుసేనబీ': 'Husenabee',
 'హుసేనప్పా': 'Husenappa',
 'హుసెంగ్': 'Hosang',
 'హుసియన్': 'Husian',
 'హుసాముద్దీన్': 'Husamuddin',
 'హుసానప్ప': 'Husanappa',
 'హుసన్': 'Husan',
 'హుషైన్': 'Hushain',
 'హుషేంద్ర': 'Hushendra',
 'హువ్గర్': 'Huvgar',
 'హులి': 'Huli',
 'హులాస్': 'Hulas',
 'హురైరా': 'Hurairah',
 'హురూబానో': 'Hoorbano',
 'హురీరా': 'Hurirah',
 'హుమైరా': 'Humairah',
 'హుమైర': 'Humaira',
 'హుమేరియా': 'Humeria',
 'హుమేరా': 'Humera',
 'హుమెర': 'Humeera',
 'హుమాయున్': 'Humayun',
 'హుమాబేగమ': 'Humabegum',
 'హుమా': 'Huma',
 'హుమర': 'Humara',
 'హుబెడ': 'Hubeda',
 'హుఫరియా': 'Hufriya',
 'హున్మంతుడు': 'Hunmanthu',
 'హునుమత్': 'Hunumath',
 'హునుమంత్': 'Hunumanth',
 'హునిసా': 'Hunisa',
 'హుని': 'Huni',
 'హుద్దీన్': 'Huddin',
 'హుడా': 'Huda',
 'హుటాసన్': 'Hutasan',
 'హుజ్మాస్': 'Huzmas',
 'హుజ్మా': 'Huzma',
 'హుజూర్': 'Huzur',
 'హుచా': 'Hucha',
 'హుకిమిచంద్': 'Hukimichand',
 'హుకారేశ్వరి': 'Hukareshwari',
 'హుకామరం': 'Hukamaram',
 'హుకం': 'Hukam',
 'హుంకా': 'Hunka',
 'హీసాఈన': 'Hisaian',
 'హీలమ్మ': 'Heelamma',
 'హీర్యా': 'Heerya',
 'హీర్డ్యా': 'Hirdya',
 'హీర్': 'Heer',
 'హీరోశిని': 'Heroshini',
 'హీరోల': 'Hirala',
 'హీరోమాన్': 'Heroman',
 'హీరో': 'Hero',
 'హీరేకు': 'Heereku',
 'హీరేకర్': 'Heerekar',
 'హీరేంద్ర': 'Heerendra',
 'హీరేందర్': 'Hirender',
 'హీరేంఢర': 'Heerendhar',
 'హీరెకర్': 'Heereker',
 'హీరాలాల్': 'Hiralal',
 'హీరాలా': 'Heerala',
 'హీరాల': 'Heralal',
 'హీరారామ్': 'Heeraram',
 'హీరామన్': 'Heeraman',
 'హీరామనీ': 'Heeramanee',
 'హీరామణి': 'Hiramani',
 'హీరాబెన్': 'Heeraben',
 'హీరానందాని': 'Hiradani',
 'హీరాదేవి': 'Heeradevi',
 'హీరాకర్': 'Heerakar',
 'హీరా': 'Hira',
 'హీరసింగ్': 'Hirasingh',
 'హీరమంచియా': 'Hermancia',
 'హీరబాయి': 'Heerabai',
 'హీరన్': 'Heeran',
 'హీమ్': 'Heem',
 'హీమేద': 'Hymad',
 'హీమలత': 'Heemalatha',
 'హీనిజా': 'Hinija',
 'హీనాబెన్': 'Heenaben',
 'హీనాబాను': 'Heenabanu',
 'హీనాకౌసర్': 'Heenakausar',
 'హీనా': 'Hina',
 'హీనశేఖరి': 'Hinashekari',
 'హీనల': 'Heenal',
 'హీనత్': 'Heenath',
 'హీన': 'Heena',
 'హీక్మట': 'Hikmat',
 'హిహ్లగ్': 'Hihlug',
 'హిసాముద్దీన్': 'Hisamuddin',
 'హిసబుద్దిన్': 'Hisabuddin',
 'హివంతసాయి': 'Himwantsai',
 'హిల్డా': 'Hilda',
 'హిల్టన్': 'Hilton',
 'హిర్జీ': 'Hirji',
 'హిరేహల': 'Hirehala',
 'హిరేమత్': 'Hiremath',
 'హిరేకర్': 'Hirekar',
 'హిరెన్': 'Hiren',
 'హిరు': 'Hiru',
 'హిరాస్కర్': 'Hirasker',
 'హిరావత్': 'Hirawat',
 'హిరాల్': 'Hiral',
 'హిరాన్': 'Hiran',
 'హిరస్కర్': 'Hiraskar',
 'హిరల్': 'Heeral',
 'హిరన్': 'Hiranmayi',
 'హిరని': 'Hirani',
 'హిరణ్య': 'Hiranya',
 'హిరణ్మోయ్': 'Hiranmoy',
 'హిరణ్మయై': 'Hiranmayai',
 'హిరణ్మయీ': 'Hiranmayee',
 'హిరణ్మయి': 'Hiranmai',
 'హిరంమయ్': 'Hiranmaie',
 'హిమ్మాతీ': 'Himmati',
 'హిమ్మథ': 'Himmath',
 'హిమ్మత్': 'Himmat',
 'హిమ్మంత్': 'Himmanth',
 'హిమ్ఠారాం': 'Himtharam',
 'హిమ్కర్': 'Himkar',
 'హిమేష్కుమార్': 'Himeshkumar',
 'హిమేష్': 'Himesh',
 'హిమేంద్రాసాయ': 'Himendrasai',
 'హిమాస్విని': 'Himaswini',
 'హిమావథ': 'Himavath',
 'హిమావతి': 'Himavathy',
 'హిమాలయ్': 'Himalay',
 'హిమాయతుల్లా': 'Himayathulla',
 'హిమామ్ష్': 'Himamsh',
 'హిమామున్నిసా': 'Himamunnisa',
 'హిమామి': 'Himami',
 'హిమాన్సు': 'Himansu',
 'హిమాన్షురోయ్': 'Himanshuroy',
 'హిమానిశ్': 'Himanish',
 'హిమానయన్': 'Himanayan',
 'హిమాద్': 'Himad',
 'హిమాత్లల్': 'Himathlal',
 'హిమాచల': 'Himachala',
 'హిమాంస': 'Himamsa',
 'హిమాంశీ': 'Himamshi',
 'హిమాంబి': 'Himambi',
 'హిమా': 'Hima',
 'హిమసీన్ధూ': 'Himasindhu',
 'హిమసిందూర': 'Himasindura',
 'హిమసాయి': 'Himasai',
 'హిమసాగరిక': 'Himasagarika',
 'హిమశ్రీ': 'Himasri',
 'హిమశైల': 'Himasaila',
 'హిమవ్ర': 'Himavra',
 'హిమవర్ష్': 'Himavarsh',
 'హిమవర్షిత': 'Himavarshitha',
 'హిమవర్షిణి': 'Himavarshini',
 'హిమవర్శ': 'Himavarsha',
 'హిమవర్ధన్': 'Himavardhan',
 'హిమవతి': 'Himavathi',
 'హిమవంత్': 'Himawanth',
 'హిమవంత': 'Himavanta',
 'హిమలత': 'Himalatha',
 'హిమలక్ష్మి': 'Himalakshmi',
 'హిమయత': 'Himayath',
 'హిమయంత్': 'Himayanth',
 'హిమమాధురి': 'Himamadhuri',
 'హిమభిందు': 'Himabhindu',
 'హిమబిందు': 'Himabindu',
 'హిమబాల': 'Himabala',
 'హిమప్రియా': 'Himapriya',
 'హిమపావని': 'Himapavani',
 'హిమన్షి': 'Himanshi',
 'హిమని': 'Himani',
 'హిమత్': 'Hymath',
 'హిమతేజ్': 'Himatej',
 'హిమతేజ': 'Himateja',
 'హిమజాదేవి': 'Himajadevi',
 'హిమజ': 'Himaja',
 'హిమకూంతల': 'Himakuntala',
 'హిమకిరీటి': 'Himakireeti',
 'హిమకావ్య': 'Himakavya',
 'హిమకార్': 'Himakar',
 'హిమకళ్యాణి': 'Himakalyani',
 'హిమంష': 'Himansh',
 'హిమంత': 'Himantha',
 'హిమంగ్సూ': 'Himangsu',
 'హిమంగ్షు': 'Himangshu',
 'హిబా': 'Hiba',
 'హిప్పర్గి': 'Hippargi',
 'హిదుజా': 'Hiduja',
 'హిదాయత్': 'Hidayath',
 'హిదాయతుల్లా': 'Hidayatullah',
 'హిదయత్': 'Hidayat',
 'హిథీశ': 'Hithish',
 'హితేష్కుమార్': 'Hiteshkumar',
 'హితేష్': 'Hitesshh',
 'హితేశ్వర్': 'Hitheshwar',
 'హితేంద్ర': 'Hltendra',
 'హితేందర్': 'Hithender',
 'హితీషిణి': 'Hithishini',
 'హితీకా': 'Hithika',
 'హితిశా': 'Hitisha',
 'హితాన్శీ': 'Hitanshi',
 'హితాంశు': 'Hitanshu',
 'హితశ్రీ': 'Hithasree',
 'హితప్రసన్న': 'Hithaprasanna',
 'హిత': 'Hitha',
 'హిట్టు': 'Hittu',
 'హిటెన్': 'Hiten',
 'హిగ్రీవా': 'Higreeva',
 'హింధూజా': 'Hindhooja',
 'హింద్': 'Hind',
 'హిందూశ్రీ': 'Hindhusri',
 'హిందూజా': 'Hinduja',
 'హిందూ': 'Hindu',
 'హిందుషా': 'Hindhusha',
 'హిందువాణి': 'Hinduvani',
 'హిందుమతి': 'Hindumathi',
 'హిందార్': 'Hindar',
 'హింగీ': 'Hingey',
 'హాహరిత': 'Haharitha',
 'హాస్య': 'Hasya',
 'హాసెన్': 'Hassen',
 'హాసీనీ': 'Haasini',
 'హాసీత': 'Haseeta',
 'హాసియా': 'Haasiya',
 'హాసియ': 'Hasiya',
 'హాసిబున్': 'Hasibun',
 'హాసిన్': 'Hasin',
 'హాసిని': 'Hasini',
 'హాసిన': 'Hasiina',
 'హాసిక': 'Hasika',
 'హాసాజీ': 'Hasaji',
 'హాసన్': 'Haasan',
 'హాసనుజ్మాన్': 'Hasanuzzaman',
 'హాసంతి': 'Hasanthi',
 'హాష్\u200cముద్దీన్\u200c': 'Hashmuddin',
 'హాషిమ్': 'Hashim',
 'హాషిఫ్': 'Hashif',
 'హాషిక': 'Hashika',
 'హాశ్రిత': 'Haasritha',
 'హాశిక': 'Hashik',
 'హావిల': 'Havila',
 'హాల్డర్': 'Halder',
 'హాలెన్': 'Halen',
 'హాలీమున్నీసా': 'Haleemunissa',
 'హాలియా': 'Haliya',
 'హాలహర్వి': 'Halaharvi',
 'హార్ష్\u200cలీ': 'Harshli',
 'హార్ధికా': 'Hardhika',
 'హార్దిక్': 'Hardik',
 'హార్తిక్': 'Harthik',
 'హార్తిక': 'Harthika',
 'హార్ణమ్': 'Harnaam',
 'హారున్': 'Haarun',
 'హారీత్': 'Harrit',
 'హారిస్': 'Haaris',
 'హారియట్': 'Harriet',
 'హారిదేవో': 'Harideo',
 'హారిణిప్రియా': 'Harinipriya',
 'హారిక్': 'Haarik',
 'హారిక': 'Harika',
 'హారతి': 'Harati',
 'హారజా': 'Harza',
 'హాయ్': 'Hai',
 'హామ్ల్': 'Hamll',
 'హామెడ్': 'Hamed',
 'హామీదుద్దీన్': 'Hameeduddin',
 'హామిల్': 'Hamil',
 'హాఫ్సా': 'Hafsah',
 'హాఫ్సహ్సబుహీ': 'Hafsahsubuhi',
 'హాఫ్రిన': 'Hafrin',
 'హాఫెజ్': 'Haffez',
 'హాఫీలు': 'Haffies',
 'హాఫరొజ': 'Hafroz',
 'హాపెజుల్': 'Hapejul',
 'హాన్సీ': 'Hansy',
 'హాన్': 'Han',
 'హానీ': 'Haani',
 'హానింద్ర': 'Harmindr',
 'హాని': 'Hani',
 'హాధ్వీకా': 'Hadhvika',
 'హాదియా': 'Hadia',
 'హాతీందూర్': 'Hathindur',
 'హాతీ': 'Hathi',
 'హాణీఠ': 'Hanith',
 'హాణీఏల': 'Haniel',
 'హాట్టే': 'Hatte',
 'హాజెరా': 'Hajerah',
 'హాజీరా': 'Hajira',
 'హాజీబాబా': 'Hajibaba',
 'హాజీ': 'Haji',
 'హాజిమ్': 'Hajim',
 'హాజిముద్దీన్': 'Hazimuddin',
 'హాజిమ': 'Hazima',
 'హాజిబ్': 'Hazib',
 'హాజి': 'Hazi',
 'హాగిడీ': 'Hagidi',
 'హాక్షాత్': 'Hakshath',
 'హాక్ర్': 'Haqur',
 'హాక్': 'Haq',
 'హాఎట్': 'Hayet',
 'హస్సిన్': 'Hassine',
 'హస్సన్': 'Hassan',
 'హస్సనుద్దీన్': 'Hassanuddin',
 'హస్సని': 'Hussaini',
 'హస్విత': 'Haswitha',
 'హస్వికా': 'Haswika',
 'హస్లీ': 'Hasli',
 'హస్లాకర్': 'Haslaker',
 'హస్రా': 'Hasra',
 'హస్రత్': 'Hasrath',
 'హస్ముద్దీన్': 'Hasmuddin',
 'హస్మిత్': 'Hasmith',
 'హస్మిత': 'Hasmitha',
 'హస్మాబేగం': 'Hasmabegum',
 'హస్మా': 'Hasma',
 'హస్మత్': 'Hasmath',
 'హస్మతున్నీసా': 'Hasmatunnisa',
 'హస్మతున్': 'Hasmatun',
 'హస్బియ': 'Hasbiya',
 'హస్నైన్': 'Hasnain',
 'హస్నూర్': 'Hasnur',
 'హస్నుద్దీన్': 'Hasnuddin',
 'హస్ని': 'Hasni',
 'హస్నారా': 'Husnara',
 'హస్నాని': 'Hasnani',
 'హస్నా': 'Hasna',
 'హస్దా': 'Hasda',
 'హస్తరం': 'Hastaram',
 'హస్తపురపు': 'Hastha',
 'హసేమ': 'Hasem',
 'హసేనా': 'Hasena',
 'హసీముద్దీన్': 'Hasimuddin',
 'హసీమ': 'Haseem',
 'హసీబ్': 'Haseeb',
 'హసీబుడ్డీన్': 'Haseebuddin',
 'హసీఫుద్దీన్': 'Haseefuddin',
 'హసీన్బీ': 'Haseenbee',
 'హసీన్': 'Haseen',
 'హసీనీబీ': 'Haseenibee',
 'హసీనా': 'Hasina',
 'హసీద': 'Haseed',
 'హసిబుల్': 'Hasibul',
 'హసిబా': 'Hasiba',
 'హసిఫుద్దిన్': 'Hasifuddin',
 'హసిఫ': 'Hasif',
 'హసినాబి': 'Hasinabi',
 'హసినా': 'Hassina',
 'హసిత్': 'Hasith',
 'హసిత': 'Hasitha',
 'హసావత్': 'Hasavath',
 'హసామి': 'Hasami',
 'హసరథ': 'Masarath',
 'హసముద్దీన్': 'Hasamuddin',
 'హసన్భాఈ': 'Hasanbhai',
 'హసన్తి': 'Hasanti',
 'హసన్': 'Hasan',
 'హసనుద్దీన్': 'Hasanuddin',
 'హసనలీ': 'Hasanali',
 'హసంసబ్నదఫ్': 'Hasansabnadaf',
 'హసంత్': 'Hasanth',
 'హసం': 'Hasam',
 'హష్\u200cముఖ్': 'Hasmukh',
 'హష్మిత': 'Hashmitha',
 'హష్మి': 'Hashmi',
 'హష్మా': 'Hashma',
 'హషీష్': 'Hashish',
 'హషీమ్': 'Hasheem',
 'హశ్మాత': 'Hashmath',
 'హశీర': 'Hashir',
 'హశీతా': 'Hashita',
 'హశినదెన్': 'Hashinaben',
 'హశమత్': 'Hashmat',
 'హశం': 'Hasham',
 'హవ్య': 'Havya',
 'హవుల': 'Havula',
 'హవీష్': 'Haviesh',
 'హవీశ్': 'Haveesh',
 'హవీలాహ': 'Havilah',
 'హవీలా': 'Haveela',
 'హవిష్': 'Havish',
 'హవిషా': 'Havisha',
 'హవిల్': 'Havil',
 'హవియుదాభి': 'Haviudabhi',
 'హవి': 'Havi',
 'హవాల్ధార్': 'Hawaldhar',
 'హవారీ': 'Hawari',
 'హవాబీ': 'Hawabee',
 'హవాజ్': 'Hawaz',
 'హవా': 'Hawa',
 'హవల్దార్': 'Hawaldar',
 'హవల్గి': 'Havalgi',
 'హవప్పా': 'Havappa',
 'హల్వి': 'Halvi',
 'హల్లెమా': 'Hallema',
 'హల్లికర్': 'Hallikar',
 'హల్లి': 'Halli',
 'హల్లాలే': 'Hallale',
 'హల్యమ్మ': 'Halyamma',
 'హల్పాని': 'Halpani',
 'హల్ధంకర్': 'Haldhanker',
 'హల్దార్': 'Haldar',
 'హల్గి': 'Halgi',
 'హల్గర్': 'Halgar',
 'హల్కుందకర్': 'Hulkundakar',
 'హల్': 'Hul',
 'హలేమా': 'Halema',
 'హలీమ్': 'Halim',
 'హలీమున్నీసా': 'Haleemunnisa',
 'హలీమునిసా': 'Haleemunisa',
 'హలీమాభి': 'Halimabhi',
 'హలీమాబీ': 'Halimabi',
 'హలీమా': 'Halima',
 'హలీనా': 'Haleena',
 'హలీంబీ': 'Haleembee',
 'హలియమ్మ': 'Haliyamma',
 'హలిందర్': 'Halinder',
 'హలావత్': 'Halawath',
 'హలాని': 'Halani',
 'హలా': 'Hala',
 'హలధర్': 'Haladhar',
 'హలకియా': 'Halkiya',
 'హ\u0c49ల': 'Hall',
 'హర్హం': 'Harham',
 'హర్సుక్': 'Harsuk',
 'హర్సిమ్రన్': 'Harsimran',
 'హర్సన్': 'Harsan',
 'హర్షౌర్ధన్': 'Harshaurdhan',
 'హర్షైత': 'Harsaitha',
 'హర్షూల్': 'Harshul',
 'హర్షీదా': 'Harsheeda',
 'హర్షీత': 'Harsheetha',
 'హర్షిని': 'Harsini',
 'హర్షిదాబెన్': 'Harshidaben',
 'హర్షిత్': 'Harsit',
 'హర్షిత': 'Harsitha',
 'హర్షిణి': 'Harshini',
 'హర్షిక్': 'Harshik',
 'హర్షిః': 'Harsih',
 'హర్షి': 'Harshie',
 'హర్షాథ్': 'Harshath',
 'హర్షా': 'Harrsha',
 'హర్షశ్రీ': 'Harshasri',
 'హర్షశీల': 'Harsheela',
 'హర్షవాణి': 'Harshavani',
 'హర్షవర్ధన్': 'Harshvardhan',
 'హర్షవర్దన్': 'Harshavardan',
 'హర్షలా': 'Harshala',
 'హర్షర్షిణి': 'Harsharshini',
 'హర్షమ్మ': 'Harshamma',
 'హర్షమున్నిసా': 'Harshmunnisa',
 'హర్షబాబు': 'Harshababu',
 'హర్షన్': 'Harshan',
 'హర్షద్భాయ్': 'Harshadbhai',
 'హర్షద్': 'Harshad',
 'హర్షదీప్': 'Harshadeep',
 'హర్షదా': 'Harshada',
 'హర్షద': 'Rupamani',
 'హర్షణీ': 'Harshani',
 'హర్షజ్': 'Harshaj',
 'హర్షకుమార్': 'Harshkumar',
 'హర్ష': 'Harsha',
 'హర్శిల్': 'Harshil',
 'హర్శియా': 'Harshiya',
 'హర్శిద': 'Harshida',
 'హర్శిక': 'Harshika',
 'హర్శాలి': 'Harshali',
 'హర్శానందన': 'Harshanandan',
 'హర్శవ్ఢన': 'Harshavdhan',
 'హర్శవర్దినీ': 'Harshavardhini',
 'హర్శల్': 'Harshal',
 'హర్శదరాయ': 'Harshadrai',
 'హర్వీన్': 'Harveen',
 'హర్విందర్': 'Harvinder',
 'హర్వాన్ష్': 'Harvansh',
 'హర్లాల్': 'Harlal',
 'హర్రేష్': 'Harresh',
 'హర్రశిన్': 'Harshin',
 'హర్య': 'Harya',
 'హర్మైన్': 'Harmain',
 'హర్మేష్': 'Harmesh',
 'హర్మిలా': 'Harmila',
 'హర్మిన్దెర్': 'Harminder',
 'హర్మిత': 'Harmitha',
 'హర్మిందర్': 'Harmindar',
 'హర్మన్దీప్': 'Harmandeep',
 'హర్మన్కరన్జిత్': 'Harmankaranjit',
 'హర్మత్': 'Hurmath',
 'హర్బిందర్': 'Harbhinder',
 'హర్బిండర్': 'Harbinder',
 'హర్బాజ': 'Harbaz',
 'హర్బన్స్': 'Harbans',
 'హర్బంత్': 'Harbant',
 'హర్ఫూల్': 'Harfool',
 'హర్\u200cప్రీత్': 'Harpreet',
 'హర్ప్రీఠ': 'Harpreeth',
 'హర్ప్రిత్': 'Harprith',
 'హర్పిత': 'Harpitha',
 'హర్పాల్': 'Harpal',
 'హర్పాణి': 'Harpani',
 'హర్పద్': 'Harpadh',
 'హర్న్జిత్': 'Harnjit',
 'హర్నైన్': 'Harnain',
 'హర్ని': 'Harni',
 'హర్దేవ్': 'Hardev',
 'హర్దీప్': 'Hardeep',
 'హర్దీక్': 'Hardeek',
 'హర్దీ': 'Hardi',
 'హర్దయాల్': 'Hardayal',
 'హర్తా': 'Hartha',
 'హర్జోత్': 'Harjoth',
 'హర్జేస': 'Harjas',
 'హర్జీవన్భాయ్': 'Harjivanbhai',
 'హర్జీత్': 'Harjeet',
 'హర్జిత్': 'Harjith',
 'హర్జిందర్': 'Harjinder',
 'హర్చిత': 'Harchitha',
 'హర్చనా': 'Harchana',
 'హర్చండి': 'Harchand',
 'హర్గున్': 'Hargun',
 'హర్గిహ': 'Hargih',
 'హర్కీతన': 'Harkeetan',
 'హర్': 'Har',
 'హరౌదీన్': 'Harooudin',
 'హరోష్': 'Harosh',
 'హరేస': 'Haresa',
 'హరేష్రెడ్డి': 'Hareshreddy',
 'హరేష్\u200cకుమార్': 'Hareshkumar',
 'హరేష్': 'Haressh',
 'హరేషా': 'Haresha',
 'హరేరామ్': 'Hareram',
 'హరేరాముడు': 'Hareramu',
 'హరేనాథ్': 'Harenath',
 'హరేకృష్ణ': 'Harekrushna',
 'హరేంద్ర': 'Harendra',
 'హరేందర్': 'Harender',
 'హరూన్': 'Haroon',
 'హరూ': 'Haru',
 'హరుమంతి': 'Harumanthi',
 'హరున్': 'Harun',
 'హరుఓ': 'Haruo',
 'హరీష్రెడ్డి': 'Harishreddy',
 'హరీష్\u200cరాజు': 'Harishraju',

In [33]:
# Function to get Telugu names for English names
def get_telugu_name(english_name):
    return name_mapping.get(english_name, 'Name Not Found')

# Apply the function to create a new column 'Telugu_Name' in the DataFrame
Final_data['English_Name'] = Final_data['first_name_Telugu'].apply(get_telugu_name)

In [34]:
Final_data.head()

  NAME OF THE BENEFICIARY  Mobile Number first_name_Telugu    English_Name
0        అంకర్ల లక్ష్మమ్మ     9542329537         లక్ష్మమ్మ        Luxmamma
1                  అంజమ్మ     9603355707            అంజమ్మ        Anjammma
2                  అంజమ్మ     9963661579            అంజమ్మ        Anjammma
3               అంజిలామ్మ     9701261327              None  Name Not Found
4                అంజిలేయా     9000415602              None  Name Not Found

In [46]:
Final_data.to_excel("Raithubheema_srinivasgoud_tobechecked.xlsx",index=False)

In [45]:
Final_data.shape

(561, 4)

In [35]:

reverse_filtered_data = Final_data[~(Final_data['English_Name'] == 'Name Not Found')]

In [36]:
reverse_filtered_data.head()

  NAME OF THE BENEFICIARY  Mobile Number first_name_Telugu English_Name
0        అంకర్ల లక్ష్మమ్మ     9542329537         లక్ష్మమ్మ     Luxmamma
1                  అంజమ్మ     9603355707            అంజమ్మ     Anjammma
2                  అంజమ్మ     9963661579            అంజమ్మ     Anjammma
5     అగరం అంజనేయులు గౌడ్     9581052637         అంజనేయులు    Anjanailu
8       అథీనామోని అలువేలు     9705374995           అలువేలు      Aluvelu

In [47]:

raithubandu_nonmatced = Final_data[(Final_data['English_Name'] == 'Name Not Found')]

In [49]:
raithubandu_nonmatced.to_excel("Srnivas_raithubandu_notmatched.xlsx", index = False)

In [37]:
reverse_filtered_data['English_Name'] = reverse_filtered_data['English_Name'].str.strip()

C:\Users\Admin\AppData\Local\Temp\ipykernel_7688\1503262758.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reverse_filtered_data['English_Name'] = reverse_filtered_data['English_Name'].str.strip()

In [38]:
# Function to capitalize strings in a column
def capitalize_column(column_name, dataframe):
    dataframe[column_name] = dataframe[column_name].str.capitalize()
    return dataframe

# Applying the function to the 'Words' column
reverse_filtered_data = capitalize_column('English_Name', reverse_filtered_data)

C:\Users\Admin\AppData\Local\Temp\ipykernel_7688\1535921800.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[column_name] = dataframe[column_name].str.capitalize()

In [39]:
reverse_filtered_data.head()

  NAME OF THE BENEFICIARY  Mobile Number first_name_Telugu English_Name
0        అంకర్ల లక్ష్మమ్మ     9542329537         లక్ష్మమ్మ     Luxmamma
1                  అంజమ్మ     9603355707            అంజమ్మ     Anjammma
2                  అంజమ్మ     9963661579            అంజమ్మ     Anjammma
5     అగరం అంజనేయులు గౌడ్     9581052637         అంజనేయులు    Anjanailu
8       అథీనామోని అలువేలు     9705374995           అలువేలు      Aluvelu

In [40]:
uniq_df.head()

   Unqiue_names Telugu_unique_names  telugu_wronginfo
0  Hrushikeswar        హ్రుశీకేశ్వర               0.0
1        Hrudai              హ్రుదై               0.0
2      Hruthika             హ్రుతిక               0.0
3      Hrithvik          హ్రిత్విక్               0.0
4         Hritu              హ్రితు               0.0

In [41]:
# Function to clean and convert a string to an integer
def clean_and_convert(value):
    cleaned_string = ''.join(filter(str.isdigit, str(value)))
    try:
        return int(cleaned_string)
    except ValueError:
        return None  # or any default value you prefer for invalid cases

# Apply the function to the specified column
reverse_filtered_data['Mobile Number'] = reverse_filtered_data['Mobile Number'].apply(lambda x: clean_and_convert(x))

C:\Users\Admin\AppData\Local\Temp\ipykernel_7688\3829460798.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reverse_filtered_data['Mobile Number'] = reverse_filtered_data['Mobile Number'].apply(lambda x: clean_and_convert(x))

In [42]:
data=reverse_filtered_data

In [43]:
import json
import pandas as pd

# Assuming 'data' is a Pandas DataFrame with columns 'first_name2' and 'Mobile No'
name_phone_dict = {}

for index, row in data.iterrows():
    name = row['English_Name']
    phone_number = str(row['Mobile Number'])  # Convert phone number to string
    
    if name in name_phone_dict:
        name_phone_dict[name].append(phone_number)
    else:
        name_phone_dict[name] = [phone_number]

# Save the dictionary as a JSON file
with open('Raithubheema_name_phone_numbers.json', 'w') as json_file:
    json.dump(name_phone_dict, json_file, indent=4)

# Counting phone numbers for each name
phone_number_counts = {name: len(numbers) for name, numbers in name_phone_dict.items()}

# Total count of phone numbers in the DataFrame
total_phone_numbers = len(data)

# Calculating total count of phone numbers from the dictionary
count_from_dict = sum(len(numbers) for numbers in name_phone_dict.values())

# Comparing counts
if total_phone_numbers == count_from_dict:
    print("Total counts match! All phone numbers are accounted for.")
    print("Saved name_phone_numbers.json successfully.")
else:
    print("Total counts do not match! There might be missing or duplicate phone numbers.")

Total counts match! All phone numbers are accounted for.
Saved name_phone_numbers.json successfully.