In [1]:
import pandas as pd

In [2]:
pwd

'c:\\Users\\Admin\\Documents\\python'

In [3]:
import pandas as pd
import os

# Get a list of all CSV files in the folder
folder_path = r'C:\\Users\\Admin\\Documents\\telangana\\shadimubharak_srinivasgoud'
file_list = [file for file in os.listdir(folder_path) if file.endswith('.xlsx')]

In [4]:
file_list

['Shadhi Mubharak_Srinivas goud.xlsx']

In [5]:
import pandas as pd
import os

import pandas as pdfirst_name
import os

# Get a list of all CSV files in the folder
folder_path = r'C:\\Users\\Admin\\Documents\\telangana\\shadimubharak_srinivasgoud'
file_list = [file for file in os.listdir(folder_path) if file.endswith('.xlsx')]

# Initialize an empty DataFrame to store the merged data
Final_data = pd.DataFrame()

# Read each CSV file and merge into one DataFrame
for file in file_list:
    file_path = os.path.join(folder_path, file)
    data = pd.read_excel(file_path)
    Final_data = pd.concat([Final_data, data])

# Save the merged data to a new CSV file
Final_data.to_csv('Final1Cr_File.xlsx', index=False)

In [6]:
Final_data.head()

  NAME OF THE BENEFICIARY   MOBILE_NO
0           అంజుమ్ జుబెడి  9985321980
1           అంజుమ్ జుబెడి  9985321980
2             అంజుమ్ తమనా  7730909524
3           అంజుమ్ ఫాతిమా  9505836615
4           అంజుమ్ ఫాథిమా  9666389740

In [7]:
Final_data.shape

(3965, 2)

In [8]:
Final_data['NAME OF THE BENEFICIARY'] = Final_data['NAME OF THE BENEFICIARY'].str.strip()

In [9]:
def capitalize_column(column_name, dataframe):
    dataframe[column_name] = dataframe[column_name].str.capitalize()
    return dataframe

# Applying the function to the 'Words' column
Final_data = capitalize_column('NAME OF THE BENEFICIARY', Final_data)

In [10]:
Final_data.head()

  NAME OF THE BENEFICIARY   MOBILE_NO
0           అంజుమ్ జుబెడి  9985321980
1           అంజుమ్ జుబెడి  9985321980
2             అంజుమ్ తమనా  7730909524
3           అంజుమ్ ఫాతిమా  9505836615
4           అంజుమ్ ఫాథిమా  9666389740

In [11]:
Final_data.isnull().sum()

NAME OF THE BENEFICIARY    0
MOBILE_NO                  0
dtype: int64

In [12]:
Final_data.dropna(inplace = True)

In [13]:
uniq_df = pd.read_excel(r"C:\\Users\\Admin\\Documents\\telangan uniques\\Final_Uniques_File.xlsx")

In [14]:
uniq_df.head()

   Unqiue_names Telugu_unique_names  telugu_wronginfo
0  hrushikeswar        హ్రుశీకేశ్వర               0.0
1        hrudai              హ్రుదై               0.0
2      hruthika             హ్రుతిక               0.0
3      hrithvik          హ్రిత్విక్               0.0
4         hritu              హ్రితు               0.0

In [15]:
uniq_df.isnull().sum()

Unqiue_names            0
Telugu_unique_names     0
telugu_wronginfo       20
dtype: int64

In [16]:
uniq_df.shape

(45286, 3)

In [17]:
# Remove rows containing 'baby' or 'Baby' in Unqiue_names column (case insensitive)
uniq_df = uniq_df[~uniq_df['Unqiue_names'].str.contains('baby', case=False)]

In [18]:
uniq_df.head()

   Unqiue_names Telugu_unique_names  telugu_wronginfo
0  hrushikeswar        హ్రుశీకేశ్వర               0.0
1        hrudai              హ్రుదై               0.0
2      hruthika             హ్రుతిక               0.0
3      hrithvik          హ్రిత్విక్               0.0
4         hritu              హ్రితు               0.0

In [19]:
#test
uniq_df['Telugu_unique_names'] = uniq_df['Telugu_unique_names'].str.strip()

In [20]:
# Function to capitalize strings in a column
def capitalize_column(column_name, dataframe):
    dataframe[column_name] = dataframe[column_name].str.capitalize()
    return dataframe

# Applying the function to the 'Words' column
uniq_df = capitalize_column('Unqiue_names', uniq_df)

In [21]:
# Initialize an empty set to store unique names
unique_names_set = set()

# Function to update unique_names_set with unique names from a dataframe
def update_unique_names(dataframe):
    unique_names_set.update(dataframe['Unqiue_names'].tolist())

# Assuming df2 is another dataframe with a 'unique_names' column
# Update unique_names_set with unique names from df2
update_unique_names(uniq_df)

# Now unique_names_set contains unique names from both unique_df and df2
# You can convert the set back to a list if needed
combined_unique_names = list(unique_names_set)

In [22]:
#test

# Initialize an empty set to store unique names
unique_names_set = set()

# Function to update unique_names_set with unique names from a dataframe
def update_unique_names(dataframe):
    unique_names_set.update(dataframe['Telugu_unique_names'].tolist())

# Assuming df2 is another dataframe with a 'unique_names' column
# Update unique_names_set with unique names from df2
update_unique_names(uniq_df)

# Now unique_names_set contains unique names from both unique_df and df2
# You can convert the set back to a list if needed
combined_unique_names = list(unique_names_set)

In [23]:
unique_names_set

{'అపూర్వ',
 'సుబాషేణి',
 'నారంభట్ల',
 'గుడ్డిటి',
 'జహేదా',
 'అమ్మయి',
 'శాంతము',
 'తులసిమాత',
 'సివరామకుమార',
 'దిపింటి',
 'పట్టాభిరామయ్య',
 'ఝాన్',
 'పున్నోజు',
 'గియుడ్',
 'బుక్దడ',
 'సాహితి',
 'జయకుమార',
 'దయామణి',
 'గీతాదేవి',
 'ఆవేష్',
 'మునియప్ప',
 'నాచ్చియార్',
 'సమీవ్డిన్',
 'ప్రదీప్\u200cచందర్',
 'శివపురం',
 'ఉపాధ్యాయాయ',
 'అజరా',
 'అంగాడి',
 'మెగిలి',
 'మీనయ్య',
 'శుభ',
 'వలార్',
 'శిందే',
 'నర్సారెడ్డి',
 'విర్న్నగారీ',
 'హైరాదేవీ',
 'రామశావమ్మ',
 'చంద్రశిల',
 'నీల్కాంత్',
 'రబీనా',
 'నిరుపమ్',
 'వియాజయ',
 'విదీశ',
 'బేర',
 'నామి',
 'ఖైర్నిసా',
 'సబింకరి',
 'కేదాస',
 'అక్రముల్లా',
 'భ్రమరి',
 'జిక్రుల్లా',
 'సబవున్నీసా',
 'సోలంకా',
 'విజయగోపాల్',
 'మనేష్',
 'బసంతిబైర్',
 'జబ్బర్',
 'మహేంద్రాచారి',
 'రామన్దీప్',
 'నటరాజన్',
 'అఖిలదాస',
 'రఘుతేజ',
 'రాతన',
 'ముషిబోహినా',
 'వంశీకుమార్',
 'గ్లక్ష్మి',
 'కతిక',
 'జానికమ్మ',
 'కౌశీకీ',
 'లవూద్యా',
 'ఏనాయథ',
 'సుమను',
 'సాయలు',
 'ఆహ్లాద్',
 'ఇఫ్తేకర్',
 'రత్లా',
 'రాంసుఖ్',
 'మణీరత్నం',
 'దశరదరం',
 'ఇసామయ్య',
 'బిహనుమంత',
 'క్లాన్',
 'ఇందిరాదేవి',
 'వంటేశ',
 'భరతకుమార్',
 'ఆగయ్య',
 'నాగమ్మ',
 'ఆశ్రయ్',
 'మోటుపల్లి',
 'శ్రీలయ',
 'బిద్యుత్',
 'ప్రసన్హ',
 'అజీజ',
 'ఇక్రమ్',
 'మంజ్రేకర్',
 'వరరుచి',
 'చత్రిక',
 'బీమప్ప',
 'నాగకుమారి',
 'దల్జీత్',
 'కన్నంజ్యోతి',
 'మోహన్జీ',
 'ఎలిమేటీ',
 'ఆరిఫుద్దీన్',
 'ఉత్సవి',
 'అశ్విన్\u200cకుమార్',
 'హరి',
 'సుమతమా',
 'అమీనొద్దన',
 'శివన్న',
 'శ్రీవెని',
 'ఏమామొదదీన',
 'వెంకారేశ్వర్లు',
 'పీసునీతా',
 'రాజీవ్\u200cపాల్',
 'విజయచందర్',
 'నర్సమాంబ',
 'దివిలిక',
 'చేన్నెయ్య',
 'నుజ్రత్',
 'తేజస్విరామ్',
 'పరమాల',
 'అమరుత',
 'శ్రీకిషన్',
 'అతియాబేగం',
 'అంశమ్మ',
 'జహీరా',
 'చరణ',
 'సెహఖర్',
 'లక్ష్మంతు',
 'ఎన్జీర్మల',
 'పరిసుధ',
 'సుబ్రహ్మణ్యేశర',
 'సన్ఖొజీత',
 'సతారం',
 'జీతమ్మా',
 'మదిరెడ్డి',
 'దీక్షికా',
 'మాయవతి',
 'నవాబ్జానీ',
 'లక్ష్మీమహేష్',
 'సకీనా',
 'సారెడ్డి',
 'గంగజమున',
 'మెడ్డె',
 'ప్రదాస్',
 'ఉన్ని',
 'భాండేకర్',
 'బాచయ్య',
 'అలోక్',
 'గంగిబాయి',
 'విజేంద్ర',
 'అంధోజు',
 'టాగూర్',
 'జాలే',
 'విజయరాజు',
 'భోజన్న',
 'ప్రభంజన',
 'నీకేల',
 'కబీంద్ర',
 'తారకేశ్వరి',
 'కళావాతమ్మ',
 'వీరాచార్యులు',
 'సైలక్ష్మేన',
 'నిల్సన్',
 'చకతి',
 'ధనజీ',
 'సాఠ్విక',
 'సత్తినేని',
 'జెవేన్స్',
 'బాబుల్లమ్మ',
 'వినీత్\u200cకుమార్',
 'మిసాలా',
 'ప్రేమీ',
 'పుండరీకాక్షుడు',
 'గిరిధర',
 'హన్మథ',
 'ధన్వి',
 'జాంషాయిద్',
 'స్ముత',
 'నాగరావఅలి',
 'దేనకానీ',
 'మిమూన్',
 'జ్ఞానొభా',
 'శివాజీ',
 'ఫ్రాన్సస్',
 'నాగచంద్ర',
 'ముక్తేశ్వర',
 'స్తోత్రబాష్యమ్',
 'భద్రం',
 'గర్ష',
 'సురవేణి',
 'ఉద్దారపు',
 'లింగల్ల',
 'సుదిష్ణ',
 'కయేత',
 'సమధన్',
 'చంశంకర',
 'జాయ్డ',
 'భూలాత',
 'బాలడ్',
 'షీరాన్',
 'సఫారు',
 'వజ్ర',
 'ద్రాక్షావళి',
 'రీనూ',
 'ర్యావాణీ',
 'సుధాకర్',
 'సోమాల్',
 'అందాలు',
 'లక్ష్మైహ',
 'మనిప్రభా',
 'షాసికాంత్',
 'సుధామల',
 'రాగవీణ',
 'సీతరాంబాబు',
 'ఇలక్ష్మీ',
 'రేవూరు',
 'టైగర్',
 'షమ్రీన్',
 'పీశ్రీనివాస్',
 'మినమ్మా',
 'భగ్య',
 'బెనుదర్',
 'కామిందార',
 'మునస',
 'మజ్హరి',
 'మామడమీర్\u200c',
 'నెరజా',
 'కోయిల్',
 'ఈశ్వర్లు',
 'ఇంతియాజుద్దీన్',
 'వోంకేశ్వరం',
 'కైరున్నిస్సా',
 'సైప్రగతి',
 'చెంచులమ్మ',
 'వెంకటరామరాజు',
 'కుర్షీద్',
 'కిరూపా',
 'గెష్',
 'రోజే',
 'నీటూ',
 'షమ్రేజ',
 'సుబహనా',
 'కైవల్య',
 'కధీర్',
 'రాజేంద్రన్',
 'నిటాయ్',
 'క్వామర్',
 'జన్నంరెడ్డి',
 'శ్రావాణీకా',
 'అజీమున్నీసా',
 'నాతిరెడ్డి',
 'వేదాంతాచార్యులు',
 'అబీబ్',
 'అలెక్సిస్',
 'రాఘవేంద్రన్',
 'బాలసుందర్',
 'సత్తైయా',
 'జగ్గు',
 'కుందనం',
 'సత్పది',
 'నజీముద్దీన్నజీముద్దిన్',
 'అప్పలస్వామి',
 'వీజయ్బస',
 'మనస్కర్',
 'మునీశ్వర్',
 'నయిమున్నీసా',
 'మౌలీలాల్',
 'భీమ్శా',
 'హమ్దాన్',
 'గీనా',
 'పుల్లవేణి',
 'శామలీ',
 'గురుశేఖర్',
 'అచిత్',
 'అబ్దూలరహూఫ',
 'అమ్సాపూరామ',
 'దనజయ',
 'నాగసాయిశ్రీనివాస్',
 'భేఘవారెడ్డి',
 'వాసక్',
 'క్షేత్ర',
 'డీఝాన్',
 'రసూల్బీ',
 'ప్రేమల్',
 'కొమడం',
 'భైరవస్వామి',
 'వినీద్కుమార్',
 'నసద్',
 'చికోండ్రా',
 'జ్ఞానదీప్తి',
 'అభిషిక్త్',
 'తేజోనిధి',
 'హెబ్బార్',
 'అస్గర్',
 'ఖుధుసియా',
 'వాళమ్మ',
 'సమ్మద్',
 'రగుడన్',
 'సింగిడాస్',
 'వరదయ్య',
 'దుసాళ్వర్',
 'సుల్తాన్\u200cపూర్',
 'శకుంతలా',
 'వాజహఠఅలి',
 'మౌసీన్',
 'లకావత్',
 'ఫర్',
 'బేశేశ్వర',
 'రంగు',
 'పవన్',
 'అవిజిట్',
 'నరమధ',
 'రామినేని',
 'జానకిరామన్',
 'మార్కెండయ్య',
 'మంగ్ల',
 'మహంత్మఠం',
 'యాకాత్',
 'సేఖరారావు',
 'కొమ్మటి',
 'బలీశ్వరమ్మ',
 'సారవామంగఅలా',
 'ప్రియవర్షిణి',
 'సైదాలు',
 'గోర్గోంతమ్',
 'సిధార్ధ',
 'కనీసునిస్సా',
 'ఎల్లరేశ్వర్',
 'రాజరాజేశ్వరిదేవి',
 'రుద్రరాజు',
 'ధుమంతరావు',
 'డీప్',
 'ఇమ్తియా',
 'సబీల్',
 'గగడం',
 'శామ్స్క్రతి',
 'రాఘవేదర్',
 'సర్ఫోరాజ్',
 'జహురోద్దీన్',
 'కరబసవయ్య',
 'జాబీర్',
 'చంటెమ్మ',
 'హేమరూప',
 'ఐజాక్',
 'ఖంత',
 'నానావత్',
 'గగనం',
 'వినోల్య',
 'నయీని',
 'మాదరి',
 'పృథివీ',
 'బుజంగదేవ్',
 'శ్రీయాన్ష్',
 'జయమ',
 'మీనదేవి',
 'సుల్తానమ్మ',
 'హుస్సేన్బీ',
 'అంగూత్',
 'సల్వార్',
 'సుజాతమ్మ',
 'కుమారీ',
 'లోకిన్',
 'రమణయ్య',
 'షహన్నాజ్',
 'మామండూరి',
 'రాజ్\u200cకమల్',
 'తొహిద్',
 'తిలోత',
 'శ్రావన్య',
 'సేహాల',
 'సీతారామి',
 'వాసిల్',
 'శేషుకుమారి',
 'పణీంద్ర',
 'బాలారాహుల్',
 'విలాషిని',
 'మహొమ్మెడ్',
 'బాలకృష్ణయ్య',
 'సర్దామీ',
 'హీరబాయి',
 'రంబికా',
 'గోవిందా',
 'బొడ్డుపల్లి',
 'అనేజా',
 'హృతేష్',
 'నరేందర్\u200cరాజు',
 'నూఓర్జహాన్',
 'తీయమ్మ',
 'ఫిరేదౌసీ',
 'చంద్',
 'ఎమ్మయ్',
 'నసేరీన్',
 'గాడియం',
 'వర్ధన్',
 'లోడెపు',
 'రజా',
 'వేణుగోపాలరెడ్డి',
 'దుర్యోధనరావు',
 'తిరుమలకుమార్',
 'గోనమ్మ',
 'పూర్ణసాయి',
 'నైజ',
 'నాగ్',
 'లక్ష్మీప్రియాంక',
 'కృష్ణమాచార్యులు',
 'కావటూరి',
 'తుకాజే',
 'అయ్యన్న',
 'నజం',
 'లవకుశ',
 'మోథాలాల్',
 'ఆదేష్',
 'సత్యామామ',
 'నార్షింగ్',
 'సైడ్లు',
 'రామచంద్రమూర్తి',
 'కౌస్లాయమ్మ',
 'కథ్యాయని',
 'యజ్ఞేశ్వరి',
 'మల్లిక',
 'సంధ్యలక్ష్మి',
 'మాణిక్య',
 'అమ్మా',
 'శ్రీఖర్',
 'డెల్లి',
 'కాషాయః',
 'అబ్దుల',
 'త్రివేంద్ర',
 'మిస్కా',
 'సైనిపున్',
 'జీవాని',
 'జగ్జీత్',
 'గ్నాప్తిక',
 'కిషన్\u200cజీ',
 'ఉమేంధర్',
 'వైకుంఠ',
 'నిజాం',
 'గజాధర్',
 'రాగిఫణి',
 'సైప్రీతం',
 'అర్బాజుద్దీన్',
 'ఆలపాటి',
 'మారికంటి',
 'రాణా',
 'రాజమహంటి',
 'ఫాతిమా',
 'నిరంజంకుమార్',
 'ఉమామహేశ్వర',
 'సుజాయ్',
 'యశఆనంద',
 'బెంజరం',
 'గిరిజాప్రసాద్',
 'అభిమాన్',
 'నౌషా',
 'ఆదిరాజ్',
 'శెషమ్మ',
 'పద్మారావు',
 'సుబాలక్ష్మి',
 'శ్రీశాయ్రాం',
 'లింగారాం',
 'ముజహెద్దిన్',
 'ఆరోగ్యస్వామి',
 'ప్రాధాన్',
 'నరసిహ్మేస్వామీ',
 'కళావత్మ్మ',
 'వెంకటలక్ష్మీప్రసన్నకుమార్',
 'సేతుమాతి',
 'పీవిజయ',
 'సుభోజిత్',
 'బాల్సెట్టి',
 'మద్దెల',
 'మసురు',
 'గేమ్యా',
 'జాన్సింగ్',
 'సునందనాదేవి',
 'ఉదిత',
 'నొలే',
 'రెమరాజేంద్రన్',
 'న్యామతుల్లా',
 'శ్రీహరి',
 'త్రిమూర్తులు',
 'కన్యశ్రి',
 'ఫైరోజుల్లా',
 'మౌలానీ',
 'ఖమూరున్నిసా',
 'కావ్యేష్',
 'ఏస్',
 'రామాంజని',
 'ప్రబిత',
 'మెడిడా',
 'రుఖుమాన్',
 'వివాక్',
 'రవరాం',
 'యెజ్దానీ',
 'మంగల్',
 'బికారం',
 'అనుసారి',
 'ముఫీజ్',
 'అల్వాలా',
 'షత్రగ్నా',
 'మైత్రీయీ',
 'సెసోహ్జాలా',
 'ఖోయ్రున్నెసా',
 'అనిన',
 'ఛొటుభాఈ',
 'షంషాద్',
 'రామ్జు',
 'ధత్రిక',
 'దుడ్ల',
 'రవితేజ',
 'ఫణీంద్రబాబు',
 'వీరమాచనేని',
 'మైత్రా',
 'సయ్యడ',
 'వాణిశ్రీ',
 'సోమియా',
 'ఏషాన్',
 'అన్నంథమ్మ',
 'అకిల్ఈశ్వర్',
 'నాగనాగరాజు',
 'మణియమ్మ',
 'విశ్వప్రకాష్',
 'పాండుకుమార్',
 'గహ్సి',
 'పుల్ల',
 'ప్పవని',
 'డీమహేశ్',
 'సుమేహా',
 'విజశ్రీ',
 'శైలని',
 'నజ్నీన్',
 'అతిష్కుమార్',
 'కొట్టూరి',
 'హమీదాబేగం',
 'సూబ్బరాయులా',
 'సిధోజా',
 'బైల',
 'ప్రేమలత',
 'చంద్రప్రకాశ్',
 'రాయప్ప',
 'టీనాహ',
 'వినకొల్లు',
 'బిషేశు',
 'కమలాంబిక',
 'ఇబాదుద్దీన్',
 'సిద్దిరాములు',
 'మహేబూబ్',
 'రూశేశనాథ',
 'ఆర్ప్రణీత',
 'లాచవోల',
 'భన్వారారం',
 'నశ్యా',
 'గురుదేవి',
 'తెరజమ్మ',
 'బుఇలాహ్',
 'కుంఠయ్య',
 'గోవర్థన్',
 'రూపా',
 'దిల్షాద్',
 'లాలూ',
 'రజనిసిందు',
 'నాగార్జునపు',
 'కృపధాన',
 'ముగల',
 'జ్ఞానము',
 'అలికియ',
 'సర్వంతి',
 'సిరోమణి',
 'సురేష్రాజు',
 'వికిత',
 'అఫిర్',
 'సాకి',
 'జ్తుసింఘ',
 'ప్రచోతన్',
 'తహెర్',
 'రామశాంతి',
 'నరుడు',
 'డొమినిక్',
 'ఉమాశంకర్',
 'కుసుమాంజలి',
 'నబీ',
 'సిధమ్మ',
 'లెవతి',
 'షేన్',
 'సృవంతి',
 'చుక్కీ',
 'అంశుమన్',
 'రాజేశ్',
 'శ్రీకంట్ట',
 'సవలారాం',
 'మౌన్యత',
 'బాలీశ్వరమ్మ',
 'ప్రచికర్',
 'జంపయ్య',
 'గోపాలాచార్య',
 'హారీత్',
 'గాయిని',
 'అబుదాల్',
 'గాదరి',
 'వీరారాం',
 'జయప్రసాద్',
 'గీతశ్రి',
 'ఖద్దరి',
 'స్తుతి',
 'యత్తయ్య',
 'సంప్రిత్',
 'జుహీకా',
 'ఉస్మాన్',
 'శివలక్ష్మి',
 'మణిక్యమ్మ',
 'తారాచంద్',
 'వెడ',
 'ఖాజామైనోద్దీన్',
 'ప్రభాకరరావు',
 'శాభారేశ',
 'ప్రిస్కిల్లా',
 'శేకమ్మ',
 'సుదామ',
 'నిమ్మాడ',
 'నిత్యదాం',
 'యశ్విక',
 'సునంద',
 'రాజలింగయ్య',
 'సూర్యమోహన్',
 'సీతి',
 'సబహత్',
 'స్మ్రూటిరేఖా',
 'డక్కయ్య',
 'మెఘ్జని',
 'దుబల్దియా',
 'నాగేంద్రప్రసాద్',
 'ధర్మదాస్',
 'ఆరిఫఉనిషా',
 'అస్రునిసా',
 'ధరా',
 'ముఖలింగం',
 'సంట్వనా',
 'మదురి',
 'బిస్మిల్లా',
 'మిష్తి',
 'రాజేశ్వరశర్మ',
 'మధువందర్',
 'కేశరాజు',
 'రామక్రిష్',
 'ప్రేమిత',
 'సుభ్రమణ్య',
 'పన్నాలాల్',
 'సర్వేశ్వర్',
 'నిలోఫర్',
 'వసంతం',
 'వినయేశ్వర్',
 'తస్ల్లెం',
 'సుమంగళి',
 'ఎర్రా',
 'ఇర్ఫాన్',
 'హామ్ల్',
 'షవర్',
 'బ్రహ్మనంద్',
 'రాజేంధర్',
 'అరిక',
 'వేణుమూర్తి',
 'ఏసూరన్',
 'విఠలేశం',
 'నాగస్వరూప',
 'అమ్బులైయా',
 'భీమాబాయి',
 'అమోఘ',
 'కలిల్',
 'మహిలాల్',
 'సాయితి',
 'మమత',
 'హర్పాణి',
 'లావాడియా',
 'నాగానుషకోయ',
 'నాసిరిన్',
 'షుమ్సియా',
 'నాఫియా',
 'తస్లీముద్దీన్',
 'భీమి',
 'శ్యామ్లా',
 'మహ్రీన్',
 'జైబూన్',
 'తూర్',
 'స్వరాజ్యాలక్మి',
 'కొంరయ్య',
 'లాలూమియన్',
 'యదుల్',
 'మురద్వీష్',
 'మేలఇస్సా',
 'నారమదాస్',
 'లాల్మియా',
 'మనమ్మా',
 'సుగంద',
 'ప్రేమవతి',
 'మంజులవాని',
 'నానురాగోముల',
 'జనేశ్వరి',
 'నామా',
 'ఊర్మిళ',
 'ఘోష్',
 'జవేరియా',
 'యకలక్ష్మి',
 'అస్మిరా',
 'రామకోటమ్మ',
 'మస్కూరి',
 'పంగ',
 'వీశ్వజీ',
 'సరాహ',
 'కరుణమ్మ',
 'మాణికేశ్వర్',
 'రాజ్యమ్మ',
 'సుహాసిన్',
 'శ్రావనం',
 'సమనా',
 'సొమానధన',
 'నాగవెంకటసాయి',
 'నబీద్',
 'కీతవత్',
 'మాతృక',
 'లలామ్',
 'నగ్మా',
 'తిరుపతి',
 'ఖజామియా',
 'లక్ష్మీదుర్గ',
 'జయవార్ధన్',
 'జిత్నేందర్',
 'దేబాశిస్',
 'శేఖరం',
 'అహల్యాదేవి',
 'వెల్జి',
 'బ్రహ్మేంద్ర',
 'లగ్గిశెట్టి',
 'సంగటి',
 'సిరాసాలా',
 'శశీదర్',
 'మన్సుఖ్',
 'గురుప్రసాద',
 'మందు',
 'అస్జాద్',
 'సబీల',
 'సచేత్',
 'రాజీబ్',
 'శ్రావణ',
 'జాలెం',
 'సమ్యుకిహా',
 'కామ్య',
 'గాడ్',
 'రూపిరెడ్డి',
 'పోర్నిమా',
 'ముఖీత్',
 'భోస్కర్',
 'సాడియాసరీనా',
 'బిప్లాబ్',
 'రండి',
 'రుక్మేందర్',
 'అతిశయ',
 'కురుత్',
 'గారాప్నా',
 'అరవాళమ్మ',
 'కాశీయా',
 'ముజ్తాబా',
 'మొగులమ్మ',
 'కవిర్ఠనా',
 'నాగసత్యనారాయణ',
 'సైరాము',
 'పీరాజేశ్వరి',
 'మగ్గిడి',
 'తోఈద్దీన్',
 'శ్రీనివాసచంద్ర',
 'షాకత్',
 'మల్కాన్',
 'ఇంద్రజిత్',
 'మెలేష్',
 'అన్వేష్',
 'వైతీయ',
 'ఆశాలత',
 'వినయ',
 'ఓబులేష్',
 'సిల్మార్థ',
 'రిజ్వానా',
 'సిద్దా',
 'కనికరాజ్',
 'అష్మా',
 'లూట్\u0c5eర్',
 'సనత్',
 'వర్ధం',
 'శాంజహా',
 'శంకరాచరిలు',
 'షెనోజ్',
 'ప్రమిది',
 'బ్రమరబ',
 'అఫ్ఫాన్',
 'టై',
 'జన్ను',
 'గిరినాథ్',
 'ముకుందం',
 'బసవరాజమ్మ',
 'నిశ్విత',
 'రుజ్మా',
 'నర్సి',
 'ఇలమ్మ',
 'రామనర్సయ్య',
 'జోనః',
 'భీంసేన్',
 'గాండ్ల',
 'నంద్',
 'కమలప్రియ',
 'కౌసర్',
 'టీమంజుల',
 'దేవదరమ్మా',
 'సూర్యమాధవీ',
 'బాలసువర్ణ',
 'వెంకటరమణమ్మ',
 'ఆసీఫుద్దీన్',
 'నమ్రుత',
 'యమునాతులసి',
 'దలబహాదూర',
 'లక్సిం',
 'ముసాలంపల్లి',
 'రేవంత్\u200cసాయి',
 'సైఫుల్',
 'గోచెర్',
 'జ్యోతిర్మయీ',
 'మోశీన్',
 'అహ్మదిఉన్నిషా',
 'భార్ఘవి',
 'సురూచి',
 'సంకీర్తన',
 'భీపాషా',
 'శివపర్వతి',
 'రమణైః',
 'సైదీప',
 'ఖయూమ్',
 'అహ్మేదున్నిసా',
 'వెంకేశ్వర',
 'రావణుడు',
 'షివేమానికాంత',
 'ఎలకట్టె',
 'మైద',
 'శైలుషా',
 'వీరబ్రదమ్',
 'పోచం',
 'హయమావతి',
 'శాతయ్య',
 'లుసి',
 'రాయుని',
 'బాలేశ్వరయ్య',
 'ఖైరుద్దీన్',
 'బీరేంద్రనాథ్',
 'యశోనందన్',
 'రంగనాధ',
 'శాహరా\u0c5b',
 'లంగ',
 'హార్తిక్',
 'ముజకీర్',
 'దేవాసత',
 'కౌశిల్య',
 'అంతర్యమి',
 'పొన్మాలర',
 'సాండేనా',
 'బేషన్న',
 'జయని',
 'మద్దూరు',
 'వంగూర్',
 'ఫయీమ్',
 'పృథ్వీ',
 'క్యూమీర్',
 'శీషారాణి',
 'విద్యాద్',
 'రైజా',
 'మదనం',
 'జుబేదా',
 'నజరుద్దీన్',
 'శివరాజ్',
 'ప్రకాస్',
 'కైవర్త్',
 'ఎర్వ',
 'రాంసింగ్',
 'అల్తమశ్',
 'గ్యానేశ్వర్',
 'లైలునిహార్',
 'సూమైనా',
 'వెరంజన్',
 'బూదఢేశ్వర్',
 'కోలన్',
 'ఆదియ్య',
 'బరేలీబరేలీ',
 'కాభీరా',
 'సులమాన్',
 'సప్ప',
 'అంజనశ్రీ',
 'ప్రతిభ',
 'నికాత్',
 'పూరిణిమ',
 'దిలేశ్వా',
 'ప్రదుంన్',
 'రామ్సాథర',
 'చెన్నకేశవరావు',
 'పబ్బు',
 'శిధార్థ్',
 'బానుప్రియ',
 'పెళ్లి',
 'పుత్రాజ్',
 'మదుసుదన్',
 'గౌరన్గొ',
 'అభిక్',
 'సఇభార్గవ',
 'బాలాజోస్',
 'యస్సేర్',
 'హనీఫ్',
 'లింగవ్వ',
 'ఆధ్యా',
 'పరంధామయ్య',
 'నందిని',
 'పానాటి',
 'శేశ్వన్థ',
 'భార్గవవంశీ',
 'యోగీందర్',
 'సుక్నావత్',
 'అబీబా',
 'రౌనక్',
 'మదీనా',
 'రామేశ్వర',
 'మైమూడ్',
 'సుస్మిత్ర',
 'తన్న',
 'అఖిత',
 'సిద్ధిఖీ',
 'నంకు',
 'సాహౌ',
 'హర్చండి',
 'అర్నాల్డ్',
 'జాశ్వ',
 'శ్రానాన',
 'పవనే',
 'ప్రవ్వెం',
 'మునేశ్వర్రావు',
 'హన్స్లీ',
 'నాగనాధిని',
 'పట్నం',
 'తిరుమలమ్మ',
 'పారిన్',
 'బుల్లెషీరా',
 'వెంకటనగరవిచంద్ర',
 'కమయని',
 'నాగాభేరీ',
 'శుబం',
 'సృహన్',
 'ప్రవణ',
 'సుధీశ',
 'శ్రీబాస్',
 'ఫహదుద్దీన్',
 'సంతోషి',
 'అనంతరావమ్మ',
 'వంశిత',
 'లోకమాత',
 'జువేరియ',
 'అవాద',
 'శాలివన్',
 'సత్యవిజయ',
 'యల్లవ్వ',
 'షమన్నా',
 'సైలేశ్వరి',
 'హాక్',
 'ఇంవు',
 'అణ్దులు',
 'నాగుల్మీరా',
 'ఆమ్లా',
 'జయప్రకాష',
 'రోహన్',
 'శ్రిధారీ',
 'అమరేందర్',
 'త్రియన్',
 'జబార్',
 'శివకమేశ్వరి',
 'ఇమాన్',
 'అజ్మీన',
 'గురులక్ష్మి',
 'రాజమౌళి',
 'దేవ్జి',
 'ఫిరోజ్బాషా',
 'ప్రముగ్ధ',
 'చిరంజీవ',
 'నయా',
 'సామీ',
 'దిరెందెర్',
 'సుధీర్',
 'విజలక్ష్మి',
 'హిదాయత్',
 'వెంగమ్మ',
 'రజ్యా',
 'గులఫ్సా',
 'కూర్మయ్య',
 'రామావధాని',
 'జయప్రతాప్',
 'మక్కావాలె',
 'అలమేలమ్మా',
 'నేపాల్',
 ...}

In [24]:
uniq_df.head()

   Unqiue_names Telugu_unique_names  telugu_wronginfo
0  Hrushikeswar        హ్రుశీకేశ్వర               0.0
1        Hrudai              హ్రుదై               0.0
2      Hruthika             హ్రుతిక               0.0
3      Hrithvik          హ్రిత్విక్               0.0
4         Hritu              హ్రితు               0.0

In [25]:
Final_data.head()

  NAME OF THE BENEFICIARY   MOBILE_NO
0           అంజుమ్ జుబెడి  9985321980
1           అంజుమ్ జుబెడి  9985321980
2             అంజుమ్ తమనా  7730909524
3           అంజుమ్ ఫాతిమా  9505836615
4           అంజుమ్ ఫాథిమా  9666389740

In [26]:
Final_data.columns

Index(['NAME OF THE BENEFICIARY', 'MOBILE_NO'], dtype='object')

In [27]:
import pandas as pd

# Assuming you have loaded the DataFrames df and unique_df as mentioned in your code

# Convert the unique names to a set for faster lookups
first_names_set = unique_names_set


# Function to extract first names using sets
def extract_first_name(name, first_names_set):
    words = name.split()
    for word in words:
        if word in first_names_set:
            return word
    return None  # Return None if no match is found

# Applying the function to create the 'first_name' column
Final_data['first_name_Telugu'] = Final_data['NAME OF THE BENEFICIARY'].apply(lambda x: extract_first_name(x, first_names_set))

In [28]:
Final_data.head(50)

   NAME OF THE BENEFICIARY   MOBILE_NO first_name_Telugu
0            అంజుమ్ జుబెడి  9985321980            అంజుమ్
1            అంజుమ్ జుబెడి  9985321980            అంజుమ్
2              అంజుమ్ తమనా  7730909524            అంజుమ్
3            అంజుమ్ ఫాతిమా  9505836615            అంజుమ్
4            అంజుమ్ ఫాథిమా  9666389740            అంజుమ్
5              అంజుమ్ బేగం  9052789854            అంజుమ్
6              అంజుమ్ బేగం  9642270783            అంజుమ్
7              అంజుమ్ బేగం  9642270783            అంజుమ్
8              అంజుమ్ బేగం  8688077407            అంజుమ్
9              అంజుమ్ బేగం  7680919743            అంజుమ్
10             అంజుమ్ బేగం  7995980576            అంజుమ్
11             అంజుమ్ బేగం  9642357239            అంజుమ్
12             అంజుమ్ బేగం  9866923836            అంజుమ్
13             అంజుమ్ బేగం  9392443120            అంజుమ్
14       అంబ్రీన్ సుల్తానా  7731013978          అంబ్రీన్
15            అకీలా ఖాటూన్  8142949343              None
16            అక్తార్ బేగం  9948036146              బేగం
17            అజీజ్ ఫాథిమా  9959518711             అజీజ్
18              అజీమా బేగం  8185878959              బేగం
19                   అజ్జు  8886944811             అజ్జు
20                   అజ్జు  8886944811             అజ్జు
21          అజ్మాత్ ఫాథిమా  9515732699              None
22           అజ్మినా అనిస్  9440948104             అనిస్
23            అజ్మెరి బేగం  8096136786              బేగం
24            అజ్మెరి బేగం  9010887049              బేగం
25        అజ్మెరి సుల్తానా  8686717980          సుల్తానా
26        అజ్మెరి సుల్తానా  8686717980          సుల్తానా
27            అజ్రా ఖాటూన్  9581295440             అజ్రా
28          అజ్రా తబాస్సమ్  9949513277             అజ్రా
29           అజ్రా తహ్రీమ్  9440704802             అజ్రా
30          అజ్రా యాస్మీన్  6301801318             అజ్రా
31           అటికా ఫర్హాట్  9396320575              None
32          అటిఫా సిద్దికా  9642329114          సిద్దికా
33    అటియా కౌసర్ సుల్తానా  8125710776             కౌసర్
34           అటియా పర్వీన్  9985617508           పర్వీన్
35          అటియా పార్వాజ్  9581240793              None
36          అటియా పార్వాజ్  9581240793              None
37           అటియా ఫిరాడస్  9885951487              None
38          అటియా ఫిర్డౌస్  9642495123              None
39              అటియా బేగం  9391241648              బేగం
40              అటియా బేగం  9391241648              బేగం
41              అటియా బేగం  9703656779              బేగం
42              అటియా బేగం  7893431134              బేగం
43          అటియా ముస్కాన్  9966079062          ముస్కాన్
44            అటియా షాహీన్  9440371717            షాహీన్
45          అటియా సామ్రీన్  9490911233          సామ్రీన్
46          అటియా సుల్తానా  8790483884          సుల్తానా
47          అటియా సుల్తానా  9885973268          సుల్తానా
48              అటీఫా బేగం  9985546082              బేగం
49              అటీఫా బేగం  9912072633              బేగం

In [29]:
Final_data['first_name_Telugu'].isnull().sum()

299

In [30]:
uniq_df.head()

   Unqiue_names Telugu_unique_names  telugu_wronginfo
0  Hrushikeswar        హ్రుశీకేశ్వర               0.0
1        Hrudai              హ్రుదై               0.0
2      Hruthika             హ్రుతిక               0.0
3      Hrithvik          హ్రిత్విక్               0.0
4         Hritu              హ్రితు               0.0

In [31]:
# Create a dictionary mapping English names to Telugu names
name_mapping = uniq_df.set_index('Telugu_unique_names')['Unqiue_names'].to_dict()

In [32]:
name_mapping

{'హ్రుశీకేశ్వర': 'Hrushikeswar',
 'హ్రుదై': 'Hrudai',
 'హ్రుతిక': 'Hruthika',
 'హ్రిత్విక్': 'Hrithvik',
 'హ్రితు': 'Hritu',
 'హ్రితిక్': 'Hrithik',
 'హ్రితికేష్': 'Hrithikesh',
 'హ్రితబన్': 'Hritaban',
 'హ్యూమర్': 'Humer',
 'హ్యారీ': 'Harry',
 'హ్యాండే': 'Handay',
 'హ్యాండికి': 'Handiqui',
 'హ్యమవతి': 'Hyamavathi',
 'హ్యచింత్': 'Hyachinth',
 'హ్యగ్రీవ': 'Hyagreeva',
 'హ్యంధవి': 'Hyandhavi',
 'హ్మీమ': 'Hemima',
 'హ్మిరారాం': 'Hamiraram',
 'హ్ప్కిబ': 'Hepciba',
 'హ్నీఫ్': 'Hanief',
 'హ్నమంతుడు': 'Hnamanthu',
 'హ్జ్రతారనుం': 'Hzrataranum',
 'హ్గ్నదవి': 'Hgndavi',
 'హౌస్': 'Haus',
 'హోహిత': 'Hohith',
 'హోస్సైన్': 'Hosen',
 'హోసున్': 'Hosun',
 'హోసియా': 'Hosea',
 'హోసానా': 'Hosanna',
 'హోష్మా': 'Hoshma',
 'హోవర్': 'Hover',
 'హోల్లా': 'Holla',
 'హోర్': 'Hoore',
 'హోయిజల్': 'Hoizal',
 'హోమ్': 'Hom',
 'హోమినీ': 'Homini',
 'హోమి': 'Homi',
 'హోమశ్రీ': 'Homasri',
 'హోమకేష్': 'Homakesh',
 'హోమం': 'Homa',
 'హోన్యా': 'Honya',
 'హోన్నా': 'Honna',
 'హోనప్ప': 'Honappa',
 'హోడ': 'Hoda',
 'హోజారాహెమ్జామిజోరం': 'Hojarahemjamizoram',
 'హోక్': 'Hoque',
 'హొషాంగ్': 'Katy',
 'హొన్నెమనే': 'Honnemane',
 'హొన్నెకేరీ': 'Honnekery',
 'హొన్నావర్': 'Honnavar',
 'హొఠ్నికా': 'Hothnika',
 'హైసింత్': 'Hycinth',
 'హైవేర్': 'Hiware',
 'హైరాదేవీ': 'Hairadevi',
 'హైమెండర్': 'Hymender',
 'హైమీద్': 'Hymed',
 'హైమావత్': 'Hymavath',
 'హైమావతి': 'Hymawathi',
 'హైమావతమ్మ': 'Hymavathamma',
 'హైమారావు': 'Hymarao',
 'హైమాదేవి': 'Hymadevi',
 'హైమా': 'Hyma',
 'హైమవైహి': 'Hymavayhi',
 'హైమవతి': 'Haimvathi',
 'హైమవంతి': 'Hymavanthi',
 'హైమద్': 'Haimad',
 'హైమద': 'Haymed',
 'హైమత్పాషా': 'Hymathpasha',
 'హైమత్': 'Haimath',
 'హైమతి': 'Hymathi',
 'హైమడ': 'Hymada',
 'హైమకుమారి': 'Hymakumari',
 'హైమ': 'Haima',
 'హైబాత్': 'Haibath',
 'హైబతి': 'Haibathi',
 'హైప్పీ': 'Happy',
 'హైదవి': 'Hydavi',
 'హైదర్ఖాన్': 'Hyderkhan',
 'హైదర్': 'Hyder',
 'హైదరుద్దీన్': 'Hyderuddin',
 'హైదరాలీ': 'Haiderali',
 'హైదరాలి': 'Hyderali',
 'హైతన్యా': 'Haitanya',
 'హైగ్రీవ్': 'Hygreev',
 'హైగ్రీవా': 'Haigreeva',
 'హైంధవి': 'Hyndhavi',
 'హైందావీ': 'Haindavi',
 'హైందవి': 'Hyndavi',
 'హేసాబుదిన': 'Hesabudin',
 'హేశ్వంత్': 'Heshwanth',
 'హేశామ': 'Hesham',
 'హేవమ్మ': 'Hevamma',
 'హేవంతి': 'Hevanti',
 'హేల': 'Hela',
 'హేరూర': 'Heroor',
 'హేరు': 'Heru',
 'హేరల': 'Heral',
 'హేరం': 'Heram',
 'హేమ్ని': 'Hemni',
 'హేమ్\u200cనాని': 'Hemnani',
 'హేమ్చంద్ర్': 'Hemchander',
 'హేమ్చంద్': 'Hemchand',
 'హేమ్': 'Hem',
 'హేమొన్థ': 'Hemonth',
 'హేమేంద్ర': 'Hemendra',
 'హేమెన్': 'Hemen',
 'హేమెందర్': 'Hemender',
 'హేము': 'Hemu',
 'హేమీమా': 'Hemeema',
 'హేమీ': 'Hemi',
 'హేమిష్': 'Hemish',
 'హేమిని': 'Hemini',
 'హేమినా': 'Hemina',
 'హేమావాణీ': 'Hemavani',
 'హేమావతి': 'Hemavathi',
 'హేమాల్': 'Hemal',
 'హేమాలీంగేశ్వర': 'Hemalingeswar',
 'హేమాలి': 'Hemali',
 'హేమారావు': 'Hemarao',
 'హేమారం': 'Hemaram',
 'హేమానుషా': 'Hemanusha',
 'హేమాని': 'Hemani',
 'హేమాద్రి': 'Hemadri',
 'హేమాదేవి': 'Hemadevi',
 'హేమాంబర్': 'Hemamber',
 'హేమాంబరధరరావు': 'Hemambaradhararao',
 'హేమాంగ్': 'Hemang',
 'హేమాంక': 'Hemanka',
 'హేమా': 'Hayma',
 'హేమస్యామా': 'Hemasyama',
 'హేమసుధ': 'Hemasudha',
 'హేమసుంధర': 'Hemasundhara',
 'హేమసుందర్': 'Hemasunder',
 'హేమసుందర': 'Hemasundara',
 'హేమసాయి': 'Hemasai',
 'హేమశ్రీ': 'Hemasri',
 'హేమవెంకట': 'Hemavenkata',
 'హేమవీర': 'Hemaveera',
 'హేమవంత్': 'Heamavanth',
 'హేమలాల': 'Hemlal',
 'హేమలలత': 'Hemalalatha',
 'హేమలతాదేవి': 'Hemalthadevi',
 'హేమలతా': 'Hemlata',
 'హేమలతనాయుడు': 'Hemalathanaidu',
 'హేమలత': 'Hemlatha',
 'హేమలక్ష్మి': 'Hemalakshmi',
 'హేమలంబ': 'Hemalamba',
 'హేమరూప': 'Hemaroopa',
 'హేమరాణి': 'Hemarani',
 'హేమరాజ్': 'Hemraj',
 'హేమయు': 'Hemayu',
 'హేమమాలిని': 'Hemamalini',
 'హేమమాలిక': 'Hemamalika',
 'హేమబిందు': 'Hemabindu',
 'హేమబాల': 'Hemabala',
 'హేమప్రియా': 'Hemapiriya',
 'హేమన్శ': 'Hemansh',
 'హేమనాధ్': 'Hemanadh',
 'హేమనాథ్': 'Hemanath',
 'హేమనకర': 'Heamanker',
 'హేమదుర్గ': 'Hemadurga',
 'హేమత్': 'Hemath',
 'హేమణేష్': 'Hemanesh',
 'హేమచంద్ర': 'Hemachandra',
 'హేమచందర్': 'Hemchandar',
 'హేమకుమార్': 'Hemkumar',
 'హేమకుమారి': 'Hemakumari',
 'హేమకిరణ్': 'Hemakiran',
 'హేమఎంబీకా': 'Hemambika',
 'హేమంత్\u200cసాయి': 'Hemanthsai',
 'హేమంత్న్': 'Hemanthn',
 'హేమంత్': 'Hemanthh',
 'హేమంతీ': 'Hemanti',
 'హేమంతి': 'Hemanthi',
 'హేమంతరెడ్డి': 'Hemanthareddy',
 'హేమంతకుమార్': 'Hemanthkumar',
 'హేమంత': 'Hemantha',
 'హేమంటొ': 'Hemanto',
 'హేమంగినీ': 'Hemangini',
 'హేమంగి': 'Hemangi',
 'హేమ': 'Hema',
 'హేబ్శేబా': 'Hebsheba',
 'హేబీబూదదీన': 'Hebeebuddin',
 'హేబా': 'Heba',
 'హేప్సీ': 'Hepsi',
 'హేపీసీబా': 'Hepseeba',
 'హేపీజిబహ్': 'Hepzibah',
 'హేన్మూలా': 'Henmula',
 'హేన్మాబాఈ': 'Hanmabai',
 'హేన్మయ్య': 'Henmaiah',
 'హేన్నా': 'Henna',
 'హేనాల్': 'Henal',
 'హేనాకౌసర్': 'Henakauser',
 'హేతల్': 'Hetal',
 'హేతరామ': 'Hetram',
 'హేజిరాబీ': 'Hazirabee',
 'హేచు': 'Hechu',
 'హేగ్': 'Hague',
 'హేకాశ': 'Heakash',
 'హెస్సింగ్': 'Hessing',
 'హెల్మ్': 'Helma',
 'హెలెన్': 'Helen',
 'హెలీనా': 'Helina',
 'హెలిమా': 'Helima',
 'హెలినా': 'Helena',
 'హెర్ల్హోయిహ్క్': 'Herlhoihc',
 'హెర్మిలా': 'Hermila',
 'హెర్బర్ట్': 'Herbert',
 'హెరైడ్': 'Heraid',
 'హెరెకర్': 'Herekar',
 'హెరాల్డ్': 'Harold',
 'హెమ్బజమ్మ': 'Hemabjamma',
 'హెమాన్': 'Heman',
 'హెమవతి': 'Hemavati',
 'హెమలత': 'Hemalath',
 'హెబ్సిభ': 'Hebsibha',
 'హెబ్లీ': 'Hebbly',
 'హెబ్రోన్': 'Hebron',
 'హెబ్రాహిం': 'Hebrahim',
 'హెబ్బార్': 'Hebbar',
 'హెబ్బాత్': 'Hebbath',
 'హెబ్బటం': 'Hebbatam',
 'హెబ్నేజర్': 'Hebnezer',
 'హెఫ్సిబా': 'Hephsiba',
 'హెఫ్జిభా': 'Hephzibha',
 'హెఫ్జిబ': 'Hephzibah',
 'హెఫ్': 'Heph',
 'హెప్సీబా': 'Hepsyba',
 'హెప్సీ': 'Hepcy',
 'హెప్సిభా': 'Hepsibha',
 'హెప్సిబా': 'Hepsibah',
 'హెప్సిబ': 'Hepsiba',
 'హెపైభా': 'Hepaibha',
 'హెపిస్బా': 'Hepisba',
 'హెన్రీజస్టిన్': 'Henryjustin',
 'హెన్రీ': 'Henry',
 'హెన్రిఎత్తా': 'Henrietta',
 'హెనా': 'Hena',
 'హెదౌ': 'Hedau',
 'హెత': 'Heta',
 'హెడ': 'Heda',
 'హెట్': 'Het',
 'హెటల్': 'Hethal',
 'హెజీబు': 'Hejeebu',
 'హెచ్': 'Poonamdevi',
 'హెండేవార్': 'Hendewar',
 'హెంఇలిన్': 'Heamilin',
 'హృసికేశ్': 'Hrusikesh',
 'హృషీకేష్': 'Hrushikesh',
 'హృషితా': 'Hrishita',
 'హృషిత': 'Hrushitha',
 'హృషికేస': 'Hrushikesa',
 'హృషికేశ్': 'Hrishikesh',
 'హృషికా': 'Hrushika',
 'హృషిక': 'Hrishika',
 'హృషి': 'Hrushi',
 'హృల్లేఖ': 'Hrullekha',
 'హృదయ్': 'Hrudhay',
 'హృదయా': 'Hrudhaya',
 'హృదయరాజు': 'Hrudayaraju',
 'హృదయబాబు': 'Hrudaybabu',
 'హృదయ': 'Hrudaya',
 'హృదఏ': 'Hrde',
 'హృత్విక్': 'Hruthivk',
 'హృతేష్': 'Hritesh',
 'హృతిష్': 'Hritish',
 'హృతిక్': 'Hrutik',
 'హృతిక': 'Hrithika',
 'హూస్సీన్బీ': 'Hussinbi',
 'హూస్మన': 'Husman',
 'హూసైనమ్మ': 'Hussainama',
 'హూసమూఖ': 'Husmukh',
 'హూవమ్మా': 'Hoovamma',
 'హూవగర్': 'Hoovagar',
 'హూర్ఫరియాల్': 'Hoorfariyal',
 'హూర్': 'Hoor',
 'హూరీన్': 'Hooreen',
 'హూరియా': 'Hooriya',
 'హూరమట': 'Hurmat',
 'హూరబానూ': 'Hoorbanu',
 'హూన్': 'Hoon',
 'హూజేఫ్': 'Hujef',
 'హూగవ': 'Hoogav',
 'హూగర్': 'Hoogar',
 'హుస్స్డ్న్': 'Hussdan',
 'హుస్సైనయ్య': 'Hussaina',
 'హుస్సేయన్': 'Hussaian',
 'హుస్సేన్సాబ్': 'Hussainsab',
 'హుస్సేన్బీ': 'Hussainbi',
 'హుస్సేన్': 'Huusain',
 'హుస్సేనిఖాద్రి': 'Hussainiquadri',
 'హుస్సేని': 'Husseni',
 'హుస్సేనయ్య': 'Hussainaiah',
 'హుస్సేనప్ప': 'Hussainappa',
 'హుస్సుఎన్': 'Hussuen',
 'హుస్సియన్': 'Hussian',
 'హుస్సిన్': 'Hussin',
 'హుస్సాయి': 'Hussai',
 'హుస్సాన్': 'Hussan',
 'హుస్సాంగ్రే': 'Hussangre',
 'హుస్య': 'Husya',
 'హుస్బాన్': 'Husbaan',
 'హుస్నైన్': 'Husnain',
 'హుస్నా': 'Hussna',
 'హుసైన్': 'Hussen',
 'హుసైని': 'Husaini',
 'హుసైనమ్మ': 'Hussenamma',
 'హుసేయిన్': 'Husein',
 'హుసేయనమ్మ': 'Huusaianamma',
 'హుసేన్': 'Husen',
 'హుసేనా': 'Husena',
 'హుసేనమ్మా': 'Husenamma',
 'హుసేనబీ': 'Husenabee',
 'హుసేనప్పా': 'Husenappa',
 'హుసెంగ్': 'Hosang',
 'హుసియన్': 'Husian',
 'హుసాముద్దీన్': 'Husamuddin',
 'హుసానప్ప': 'Husanappa',
 'హుసన్': 'Husan',
 'హుషైన్': 'Hushain',
 'హుషేంద్ర': 'Hushendra',
 'హువ్గర్': 'Huvgar',
 'హులి': 'Huli',
 'హులాస్': 'Hulas',
 'హురైరా': 'Hurairah',
 'హురూబానో': 'Hoorbano',
 'హురీరా': 'Hurirah',
 'హుమైరా': 'Humairah',
 'హుమైర': 'Humaira',
 'హుమేరియా': 'Humeria',
 'హుమేరా': 'Humera',
 'హుమెర': 'Humeera',
 'హుమాయున్': 'Humayun',
 'హుమాబేగమ': 'Humabegum',
 'హుమా': 'Huma',
 'హుమర': 'Humara',
 'హుబెడ': 'Hubeda',
 'హుఫరియా': 'Hufriya',
 'హున్మంతుడు': 'Hunmanthu',
 'హునుమత్': 'Hunumath',
 'హునుమంత్': 'Hunumanth',
 'హునిసా': 'Hunisa',
 'హుని': 'Huni',
 'హుద్దీన్': 'Huddin',
 'హుడా': 'Huda',
 'హుటాసన్': 'Hutasan',
 'హుజ్మాస్': 'Huzmas',
 'హుజ్మా': 'Huzma',
 'హుజూర్': 'Huzur',
 'హుచా': 'Hucha',
 'హుకిమిచంద్': 'Hukimichand',
 'హుకారేశ్వరి': 'Hukareshwari',
 'హుకామరం': 'Hukamaram',
 'హుకం': 'Hukam',
 'హుంకా': 'Hunka',
 'హీసాఈన': 'Hisaian',
 'హీలమ్మ': 'Heelamma',
 'హీర్యా': 'Heerya',
 'హీర్డ్యా': 'Hirdya',
 'హీర్': 'Heer',
 'హీరోశిని': 'Heroshini',
 'హీరోల': 'Hirala',
 'హీరోమాన్': 'Heroman',
 'హీరో': 'Hero',
 'హీరేకు': 'Heereku',
 'హీరేకర్': 'Heerekar',
 'హీరేంద్ర': 'Heerendra',
 'హీరేందర్': 'Hirender',
 'హీరేంఢర': 'Heerendhar',
 'హీరెకర్': 'Heereker',
 'హీరాలాల్': 'Hiralal',
 'హీరాలా': 'Heerala',
 'హీరాల': 'Heralal',
 'హీరారామ్': 'Heeraram',
 'హీరామన్': 'Heeraman',
 'హీరామనీ': 'Heeramanee',
 'హీరామణి': 'Hiramani',
 'హీరాబెన్': 'Heeraben',
 'హీరానందాని': 'Hiradani',
 'హీరాదేవి': 'Heeradevi',
 'హీరాకర్': 'Heerakar',
 'హీరా': 'Hira',
 'హీరసింగ్': 'Hirasingh',
 'హీరమంచియా': 'Hermancia',
 'హీరబాయి': 'Heerabai',
 'హీరన్': 'Heeran',
 'హీమ్': 'Heem',
 'హీమేద': 'Hymad',
 'హీమలత': 'Heemalatha',
 'హీనిజా': 'Hinija',
 'హీనాబెన్': 'Heenaben',
 'హీనాబాను': 'Heenabanu',
 'హీనాకౌసర్': 'Heenakausar',
 'హీనా': 'Hina',
 'హీనశేఖరి': 'Hinashekari',
 'హీనల': 'Heenal',
 'హీనత్': 'Heenath',
 'హీన': 'Heena',
 'హీక్మట': 'Hikmat',
 'హిహ్లగ్': 'Hihlug',
 'హిసాముద్దీన్': 'Hisamuddin',
 'హిసబుద్దిన్': 'Hisabuddin',
 'హివంతసాయి': 'Himwantsai',
 'హిల్డా': 'Hilda',
 'హిల్టన్': 'Hilton',
 'హిర్జీ': 'Hirji',
 'హిరేహల': 'Hirehala',
 'హిరేమత్': 'Hiremath',
 'హిరేకర్': 'Hirekar',
 'హిరెన్': 'Hiren',
 'హిరు': 'Hiru',
 'హిరాస్కర్': 'Hirasker',
 'హిరావత్': 'Hirawat',
 'హిరాల్': 'Hiral',
 'హిరాన్': 'Hiran',
 'హిరస్కర్': 'Hiraskar',
 'హిరల్': 'Heeral',
 'హిరన్': 'Hiranmayi',
 'హిరని': 'Hirani',
 'హిరణ్య': 'Hiranya',
 'హిరణ్మోయ్': 'Hiranmoy',
 'హిరణ్మయై': 'Hiranmayai',
 'హిరణ్మయీ': 'Hiranmayee',
 'హిరణ్మయి': 'Hiranmai',
 'హిరంమయ్': 'Hiranmaie',
 'హిమ్మాతీ': 'Himmati',
 'హిమ్మథ': 'Himmath',
 'హిమ్మత్': 'Himmat',
 'హిమ్మంత్': 'Himmanth',
 'హిమ్ఠారాం': 'Himtharam',
 'హిమ్కర్': 'Himkar',
 'హిమేష్కుమార్': 'Himeshkumar',
 'హిమేష్': 'Himesh',
 'హిమేంద్రాసాయ': 'Himendrasai',
 'హిమాస్విని': 'Himaswini',
 'హిమావథ': 'Himavath',
 'హిమావతి': 'Himavathy',
 'హిమాలయ్': 'Himalay',
 'హిమాయతుల్లా': 'Himayathulla',
 'హిమామ్ష్': 'Himamsh',
 'హిమామున్నిసా': 'Himamunnisa',
 'హిమామి': 'Himami',
 'హిమాన్సు': 'Himansu',
 'హిమాన్షురోయ్': 'Himanshuroy',
 'హిమానిశ్': 'Himanish',
 'హిమానయన్': 'Himanayan',
 'హిమాద్': 'Himad',
 'హిమాత్లల్': 'Himathlal',
 'హిమాచల': 'Himachala',
 'హిమాంస': 'Himamsa',
 'హిమాంశీ': 'Himamshi',
 'హిమాంబి': 'Himambi',
 'హిమా': 'Hima',
 'హిమసీన్ధూ': 'Himasindhu',
 'హిమసిందూర': 'Himasindura',
 'హిమసాయి': 'Himasai',
 'హిమసాగరిక': 'Himasagarika',
 'హిమశ్రీ': 'Himasri',
 'హిమశైల': 'Himasaila',
 'హిమవ్ర': 'Himavra',
 'హిమవర్ష్': 'Himavarsh',
 'హిమవర్షిత': 'Himavarshitha',
 'హిమవర్షిణి': 'Himavarshini',
 'హిమవర్శ': 'Himavarsha',
 'హిమవర్ధన్': 'Himavardhan',
 'హిమవతి': 'Himavathi',
 'హిమవంత్': 'Himawanth',
 'హిమవంత': 'Himavanta',
 'హిమలత': 'Himalatha',
 'హిమలక్ష్మి': 'Himalakshmi',
 'హిమయత': 'Himayath',
 'హిమయంత్': 'Himayanth',
 'హిమమాధురి': 'Himamadhuri',
 'హిమభిందు': 'Himabhindu',
 'హిమబిందు': 'Himabindu',
 'హిమబాల': 'Himabala',
 'హిమప్రియా': 'Himapriya',
 'హిమపావని': 'Himapavani',
 'హిమన్షి': 'Himanshi',
 'హిమని': 'Himani',
 'హిమత్': 'Hymath',
 'హిమతేజ్': 'Himatej',
 'హిమతేజ': 'Himateja',
 'హిమజాదేవి': 'Himajadevi',
 'హిమజ': 'Himaja',
 'హిమకూంతల': 'Himakuntala',
 'హిమకిరీటి': 'Himakireeti',
 'హిమకావ్య': 'Himakavya',
 'హిమకార్': 'Himakar',
 'హిమకళ్యాణి': 'Himakalyani',
 'హిమంష': 'Himansh',
 'హిమంత': 'Himantha',
 'హిమంగ్సూ': 'Himangsu',
 'హిమంగ్షు': 'Himangshu',
 'హిబా': 'Hiba',
 'హిప్పర్గి': 'Hippargi',
 'హిదుజా': 'Hiduja',
 'హిదాయత్': 'Hidayath',
 'హిదాయతుల్లా': 'Hidayatullah',
 'హిదయత్': 'Hidayat',
 'హిథీశ': 'Hithish',
 'హితేష్కుమార్': 'Hiteshkumar',
 'హితేష్': 'Hitesshh',
 'హితేశ్వర్': 'Hitheshwar',
 'హితేంద్ర': 'Hltendra',
 'హితేందర్': 'Hithender',
 'హితీషిణి': 'Hithishini',
 'హితీకా': 'Hithika',
 'హితిశా': 'Hitisha',
 'హితాన్శీ': 'Hitanshi',
 'హితాంశు': 'Hitanshu',
 'హితశ్రీ': 'Hithasree',
 'హితప్రసన్న': 'Hithaprasanna',
 'హిత': 'Hitha',
 'హిట్టు': 'Hittu',
 'హిటెన్': 'Hiten',
 'హిగ్రీవా': 'Higreeva',
 'హింధూజా': 'Hindhooja',
 'హింద్': 'Hind',
 'హిందూశ్రీ': 'Hindhusri',
 'హిందూజా': 'Hinduja',
 'హిందూ': 'Hindu',
 'హిందుషా': 'Hindhusha',
 'హిందువాణి': 'Hinduvani',
 'హిందుమతి': 'Hindumathi',
 'హిందార్': 'Hindar',
 'హింగీ': 'Hingey',
 'హాహరిత': 'Haharitha',
 'హాస్య': 'Hasya',
 'హాసెన్': 'Hassen',
 'హాసీనీ': 'Haasini',
 'హాసీత': 'Haseeta',
 'హాసియా': 'Haasiya',
 'హాసియ': 'Hasiya',
 'హాసిబున్': 'Hasibun',
 'హాసిన్': 'Hasin',
 'హాసిని': 'Hasini',
 'హాసిన': 'Hasiina',
 'హాసిక': 'Hasika',
 'హాసాజీ': 'Hasaji',
 'హాసన్': 'Haasan',
 'హాసనుజ్మాన్': 'Hasanuzzaman',
 'హాసంతి': 'Hasanthi',
 'హాష్\u200cముద్దీన్\u200c': 'Hashmuddin',
 'హాషిమ్': 'Hashim',
 'హాషిఫ్': 'Hashif',
 'హాషిక': 'Hashika',
 'హాశ్రిత': 'Haasritha',
 'హాశిక': 'Hashik',
 'హావిల': 'Havila',
 'హాల్డర్': 'Halder',
 'హాలెన్': 'Halen',
 'హాలీమున్నీసా': 'Haleemunissa',
 'హాలియా': 'Haliya',
 'హాలహర్వి': 'Halaharvi',
 'హార్ష్\u200cలీ': 'Harshli',
 'హార్ధికా': 'Hardhika',
 'హార్దిక్': 'Hardik',
 'హార్తిక్': 'Harthik',
 'హార్తిక': 'Harthika',
 'హార్ణమ్': 'Harnaam',
 'హారున్': 'Haarun',
 'హారీత్': 'Harrit',
 'హారిస్': 'Haaris',
 'హారియట్': 'Harriet',
 'హారిదేవో': 'Harideo',
 'హారిణిప్రియా': 'Harinipriya',
 'హారిక్': 'Haarik',
 'హారిక': 'Harika',
 'హారతి': 'Harati',
 'హారజా': 'Harza',
 'హాయ్': 'Hai',
 'హామ్ల్': 'Hamll',
 'హామెడ్': 'Hamed',
 'హామీదుద్దీన్': 'Hameeduddin',
 'హామిల్': 'Hamil',
 'హాఫ్సా': 'Hafsah',
 'హాఫ్సహ్సబుహీ': 'Hafsahsubuhi',
 'హాఫ్రిన': 'Hafrin',
 'హాఫెజ్': 'Haffez',
 'హాఫీలు': 'Haffies',
 'హాఫరొజ': 'Hafroz',
 'హాపెజుల్': 'Hapejul',
 'హాన్సీ': 'Hansy',
 'హాన్': 'Han',
 'హానీ': 'Haani',
 'హానింద్ర': 'Harmindr',
 'హాని': 'Hani',
 'హాధ్వీకా': 'Hadhvika',
 'హాదియా': 'Hadia',
 'హాతీందూర్': 'Hathindur',
 'హాతీ': 'Hathi',
 'హాణీఠ': 'Hanith',
 'హాణీఏల': 'Haniel',
 'హాట్టే': 'Hatte',
 'హాజెరా': 'Hajerah',
 'హాజీరా': 'Hajira',
 'హాజీబాబా': 'Hajibaba',
 'హాజీ': 'Haji',
 'హాజిమ్': 'Hajim',
 'హాజిముద్దీన్': 'Hazimuddin',
 'హాజిమ': 'Hazima',
 'హాజిబ్': 'Hazib',
 'హాజి': 'Hazi',
 'హాగిడీ': 'Hagidi',
 'హాక్షాత్': 'Hakshath',
 'హాక్ర్': 'Haqur',
 'హాక్': 'Haq',
 'హాఎట్': 'Hayet',
 'హస్సిన్': 'Hassine',
 'హస్సన్': 'Hassan',
 'హస్సనుద్దీన్': 'Hassanuddin',
 'హస్సని': 'Hussaini',
 'హస్విత': 'Haswitha',
 'హస్వికా': 'Haswika',
 'హస్లీ': 'Hasli',
 'హస్లాకర్': 'Haslaker',
 'హస్రా': 'Hasra',
 'హస్రత్': 'Hasrath',
 'హస్ముద్దీన్': 'Hasmuddin',
 'హస్మిత్': 'Hasmith',
 'హస్మిత': 'Hasmitha',
 'హస్మాబేగం': 'Hasmabegum',
 'హస్మా': 'Hasma',
 'హస్మత్': 'Hasmath',
 'హస్మతున్నీసా': 'Hasmatunnisa',
 'హస్మతున్': 'Hasmatun',
 'హస్బియ': 'Hasbiya',
 'హస్నైన్': 'Hasnain',
 'హస్నూర్': 'Hasnur',
 'హస్నుద్దీన్': 'Hasnuddin',
 'హస్ని': 'Hasni',
 'హస్నారా': 'Husnara',
 'హస్నాని': 'Hasnani',
 'హస్నా': 'Hasna',
 'హస్దా': 'Hasda',
 'హస్తరం': 'Hastaram',
 'హస్తపురపు': 'Hastha',
 'హసేమ': 'Hasem',
 'హసేనా': 'Hasena',
 'హసీముద్దీన్': 'Hasimuddin',
 'హసీమ': 'Haseem',
 'హసీబ్': 'Haseeb',
 'హసీబుడ్డీన్': 'Haseebuddin',
 'హసీఫుద్దీన్': 'Haseefuddin',
 'హసీన్బీ': 'Haseenbee',
 'హసీన్': 'Haseen',
 'హసీనీబీ': 'Haseenibee',
 'హసీనా': 'Hasina',
 'హసీద': 'Haseed',
 'హసిబుల్': 'Hasibul',
 'హసిబా': 'Hasiba',
 'హసిఫుద్దిన్': 'Hasifuddin',
 'హసిఫ': 'Hasif',
 'హసినాబి': 'Hasinabi',
 'హసినా': 'Hassina',
 'హసిత్': 'Hasith',
 'హసిత': 'Hasitha',
 'హసావత్': 'Hasavath',
 'హసామి': 'Hasami',
 'హసరథ': 'Masarath',
 'హసముద్దీన్': 'Hasamuddin',
 'హసన్భాఈ': 'Hasanbhai',
 'హసన్తి': 'Hasanti',
 'హసన్': 'Hasan',
 'హసనుద్దీన్': 'Hasanuddin',
 'హసనలీ': 'Hasanali',
 'హసంసబ్నదఫ్': 'Hasansabnadaf',
 'హసంత్': 'Hasanth',
 'హసం': 'Hasam',
 'హష్\u200cముఖ్': 'Hasmukh',
 'హష్మిత': 'Hashmitha',
 'హష్మి': 'Hashmi',
 'హష్మా': 'Hashma',
 'హషీష్': 'Hashish',
 'హషీమ్': 'Hasheem',
 'హశ్మాత': 'Hashmath',
 'హశీర': 'Hashir',
 'హశీతా': 'Hashita',
 'హశినదెన్': 'Hashinaben',
 'హశమత్': 'Hashmat',
 'హశం': 'Hasham',
 'హవ్య': 'Havya',
 'హవుల': 'Havula',
 'హవీష్': 'Haviesh',
 'హవీశ్': 'Haveesh',
 'హవీలాహ': 'Havilah',
 'హవీలా': 'Haveela',
 'హవిష్': 'Havish',
 'హవిషా': 'Havisha',
 'హవిల్': 'Havil',
 'హవియుదాభి': 'Haviudabhi',
 'హవి': 'Havi',
 'హవాల్ధార్': 'Hawaldhar',
 'హవారీ': 'Hawari',
 'హవాబీ': 'Hawabee',
 'హవాజ్': 'Hawaz',
 'హవా': 'Hawa',
 'హవల్దార్': 'Hawaldar',
 'హవల్గి': 'Havalgi',
 'హవప్పా': 'Havappa',
 'హల్వి': 'Halvi',
 'హల్లెమా': 'Hallema',
 'హల్లికర్': 'Hallikar',
 'హల్లి': 'Halli',
 'హల్లాలే': 'Hallale',
 'హల్యమ్మ': 'Halyamma',
 'హల్పాని': 'Halpani',
 'హల్ధంకర్': 'Haldhanker',
 'హల్దార్': 'Haldar',
 'హల్గి': 'Halgi',
 'హల్గర్': 'Halgar',
 'హల్కుందకర్': 'Hulkundakar',
 'హల్': 'Hul',
 'హలేమా': 'Halema',
 'హలీమ్': 'Halim',
 'హలీమున్నీసా': 'Haleemunnisa',
 'హలీమునిసా': 'Haleemunisa',
 'హలీమాభి': 'Halimabhi',
 'హలీమాబీ': 'Halimabi',
 'హలీమా': 'Halima',
 'హలీనా': 'Haleena',
 'హలీంబీ': 'Haleembee',
 'హలియమ్మ': 'Haliyamma',
 'హలిందర్': 'Halinder',
 'హలావత్': 'Halawath',
 'హలాని': 'Halani',
 'హలా': 'Hala',
 'హలధర్': 'Haladhar',
 'హలకియా': 'Halkiya',
 'హ\u0c49ల': 'Hall',
 'హర్హం': 'Harham',
 'హర్సుక్': 'Harsuk',
 'హర్సిమ్రన్': 'Harsimran',
 'హర్సన్': 'Harsan',
 'హర్షౌర్ధన్': 'Harshaurdhan',
 'హర్షైత': 'Harsaitha',
 'హర్షూల్': 'Harshul',
 'హర్షీదా': 'Harsheeda',
 'హర్షీత': 'Harsheetha',
 'హర్షిని': 'Harsini',
 'హర్షిదాబెన్': 'Harshidaben',
 'హర్షిత్': 'Harsit',
 'హర్షిత': 'Harsitha',
 'హర్షిణి': 'Harshini',
 'హర్షిక్': 'Harshik',
 'హర్షిః': 'Harsih',
 'హర్షి': 'Harshie',
 'హర్షాథ్': 'Harshath',
 'హర్షా': 'Harrsha',
 'హర్షశ్రీ': 'Harshasri',
 'హర్షశీల': 'Harsheela',
 'హర్షవాణి': 'Harshavani',
 'హర్షవర్ధన్': 'Harshvardhan',
 'హర్షవర్దన్': 'Harshavardan',
 'హర్షలా': 'Harshala',
 'హర్షర్షిణి': 'Harsharshini',
 'హర్షమ్మ': 'Harshamma',
 'హర్షమున్నిసా': 'Harshmunnisa',
 'హర్షబాబు': 'Harshababu',
 'హర్షన్': 'Harshan',
 'హర్షద్భాయ్': 'Harshadbhai',
 'హర్షద్': 'Harshad',
 'హర్షదీప్': 'Harshadeep',
 'హర్షదా': 'Harshada',
 'హర్షద': 'Rupamani',
 'హర్షణీ': 'Harshani',
 'హర్షజ్': 'Harshaj',
 'హర్షకుమార్': 'Harshkumar',
 'హర్ష': 'Harsha',
 'హర్శిల్': 'Harshil',
 'హర్శియా': 'Harshiya',
 'హర్శిద': 'Harshida',
 'హర్శిక': 'Harshika',
 'హర్శాలి': 'Harshali',
 'హర్శానందన': 'Harshanandan',
 'హర్శవ్ఢన': 'Harshavdhan',
 'హర్శవర్దినీ': 'Harshavardhini',
 'హర్శల్': 'Harshal',
 'హర్శదరాయ': 'Harshadrai',
 'హర్వీన్': 'Harveen',
 'హర్విందర్': 'Harvinder',
 'హర్వాన్ష్': 'Harvansh',
 'హర్లాల్': 'Harlal',
 'హర్రేష్': 'Harresh',
 'హర్రశిన్': 'Harshin',
 'హర్య': 'Harya',
 'హర్మైన్': 'Harmain',
 'హర్మేష్': 'Harmesh',
 'హర్మిలా': 'Harmila',
 'హర్మిన్దెర్': 'Harminder',
 'హర్మిత': 'Harmitha',
 'హర్మిందర్': 'Harmindar',
 'హర్మన్దీప్': 'Harmandeep',
 'హర్మన్కరన్జిత్': 'Harmankaranjit',
 'హర్మత్': 'Hurmath',
 'హర్బిందర్': 'Harbhinder',
 'హర్బిండర్': 'Harbinder',
 'హర్బాజ': 'Harbaz',
 'హర్బన్స్': 'Harbans',
 'హర్బంత్': 'Harbant',
 'హర్ఫూల్': 'Harfool',
 'హర్\u200cప్రీత్': 'Harpreet',
 'హర్ప్రీఠ': 'Harpreeth',
 'హర్ప్రిత్': 'Harprith',
 'హర్పిత': 'Harpitha',
 'హర్పాల్': 'Harpal',
 'హర్పాణి': 'Harpani',
 'హర్పద్': 'Harpadh',
 'హర్న్జిత్': 'Harnjit',
 'హర్నైన్': 'Harnain',
 'హర్ని': 'Harni',
 'హర్దేవ్': 'Hardev',
 'హర్దీప్': 'Hardeep',
 'హర్దీక్': 'Hardeek',
 'హర్దీ': 'Hardi',
 'హర్దయాల్': 'Hardayal',
 'హర్తా': 'Hartha',
 'హర్జోత్': 'Harjoth',
 'హర్జేస': 'Harjas',
 'హర్జీవన్భాయ్': 'Harjivanbhai',
 'హర్జీత్': 'Harjeet',
 'హర్జిత్': 'Harjith',
 'హర్జిందర్': 'Harjinder',
 'హర్చిత': 'Harchitha',
 'హర్చనా': 'Harchana',
 'హర్చండి': 'Harchand',
 'హర్గున్': 'Hargun',
 'హర్గిహ': 'Hargih',
 'హర్కీతన': 'Harkeetan',
 'హర్': 'Har',
 'హరౌదీన్': 'Harooudin',
 'హరోష్': 'Harosh',
 'హరేస': 'Haresa',
 'హరేష్రెడ్డి': 'Hareshreddy',
 'హరేష్\u200cకుమార్': 'Hareshkumar',
 'హరేష్': 'Haressh',
 'హరేషా': 'Haresha',
 'హరేరామ్': 'Hareram',
 'హరేరాముడు': 'Hareramu',
 'హరేనాథ్': 'Harenath',
 'హరేకృష్ణ': 'Harekrushna',
 'హరేంద్ర': 'Harendra',
 'హరేందర్': 'Harender',
 'హరూన్': 'Haroon',
 'హరూ': 'Haru',
 'హరుమంతి': 'Harumanthi',
 'హరున్': 'Harun',
 'హరుఓ': 'Haruo',
 'హరీష్రెడ్డి': 'Harishreddy',
 'హరీష్\u200cరాజు': 'Harishraju',

In [33]:
# Function to get Telugu names for English names
def get_telugu_name(english_name):
    return name_mapping.get(english_name, 'Name Not Found')

# Apply the function to create a new column 'Telugu_Name' in the DataFrame
Final_data['English_Name'] = Final_data['first_name_Telugu'].apply(get_telugu_name)

In [48]:
Final_data.head(50)

   NAME OF THE BENEFICIARY   MOBILE_NO first_name_Telugu    English_Name
0            అంజుమ్ జుబెడి  9985321980            అంజుమ్           Anzum
1            అంజుమ్ జుబెడి  9985321980            అంజుమ్           Anzum
2              అంజుమ్ తమనా  7730909524            అంజుమ్           Anzum
3            అంజుమ్ ఫాతిమా  9505836615            అంజుమ్           Anzum
4            అంజుమ్ ఫాథిమా  9666389740            అంజుమ్           Anzum
5              అంజుమ్ బేగం  9052789854            అంజుమ్           Anzum
6              అంజుమ్ బేగం  9642270783            అంజుమ్           Anzum
7              అంజుమ్ బేగం  9642270783            అంజుమ్           Anzum
8              అంజుమ్ బేగం  8688077407            అంజుమ్           Anzum
9              అంజుమ్ బేగం  7680919743            అంజుమ్           Anzum
10             అంజుమ్ బేగం  7995980576            అంజుమ్           Anzum
11             అంజుమ్ బేగం  9642357239            అంజుమ్           Anzum
12             అంజుమ్ బేగం  9866923836            అంజుమ్           Anzum
13             అంజుమ్ బేగం  9392443120            అంజుమ్           Anzum
14       అంబ్రీన్ సుల్తానా  7731013978          అంబ్రీన్         Ambreen
15            అకీలా ఖాటూన్  8142949343              None  Name Not Found
16            అక్తార్ బేగం  9948036146              బేగం           Begum
17            అజీజ్ ఫాథిమా  9959518711             అజీజ్            Aziz
18              అజీమా బేగం  8185878959              బేగం           Begum
19                   అజ్జు  8886944811             అజ్జు            Ajju
20                   అజ్జు  8886944811             అజ్జు            Ajju
21          అజ్మాత్ ఫాథిమా  9515732699              None  Name Not Found
22           అజ్మినా అనిస్  9440948104             అనిస్           Annis
23            అజ్మెరి బేగం  8096136786              బేగం           Begum
24            అజ్మెరి బేగం  9010887049              బేగం           Begum
25        అజ్మెరి సుల్తానా  8686717980          సుల్తానా        Sulthana
26        అజ్మెరి సుల్తానా  8686717980          సుల్తానా        Sulthana
27            అజ్రా ఖాటూన్  9581295440             అజ్రా            Azra
28          అజ్రా తబాస్సమ్  9949513277             అజ్రా            Azra
29           అజ్రా తహ్రీమ్  9440704802             అజ్రా            Azra
30          అజ్రా యాస్మీన్  6301801318             అజ్రా            Azra
31           అటికా ఫర్హాట్  9396320575              None  Name Not Found
32          అటిఫా సిద్దికా  9642329114          సిద్దికా         Siddiqa
33    అటియా కౌసర్ సుల్తానా  8125710776             కౌసర్          Kowsar
34           అటియా పర్వీన్  9985617508           పర్వీన్         Parween
35          అటియా పార్వాజ్  9581240793              None  Name Not Found
36          అటియా పార్వాజ్  9581240793              None  Name Not Found
37           అటియా ఫిరాడస్  9885951487              None  Name Not Found
38          అటియా ఫిర్డౌస్  9642495123              None  Name Not Found
39              అటియా బేగం  9391241648              బేగం           Begum
40              అటియా బేగం  9391241648              బేగం           Begum
41              అటియా బేగం  9703656779              బేగం           Begum
42              అటియా బేగం  7893431134              బేగం           Begum
43          అటియా ముస్కాన్  9966079062          ముస్కాన్          Muskan
44            అటియా షాహీన్  9440371717            షాహీన్         Shaheen
45          అటియా సామ్రీన్  9490911233          సామ్రీన్          Samren
46          అటియా సుల్తానా  8790483884          సుల్తానా        Sulthana
47          అటియా సుల్తానా  9885973268          సుల్తానా        Sulthana
48              అటీఫా బేగం  9985546082              బేగం           Begum
49              అటీఫా బేగం  9912072633              బేగం           Begum

In [35]:

reverse_filtered_data = Final_data[~(Final_data['English_Name'] == 'Name Not Found')]

In [36]:
reverse_filtered_data.head()

  NAME OF THE BENEFICIARY   MOBILE_NO first_name_Telugu English_Name
0           అంజుమ్ జుబెడి  9985321980            అంజుమ్        Anzum
1           అంజుమ్ జుబెడి  9985321980            అంజుమ్        Anzum
2             అంజుమ్ తమనా  7730909524            అంజుమ్        Anzum
3           అంజుమ్ ఫాతిమా  9505836615            అంజుమ్        Anzum
4           అంజుమ్ ఫాథిమా  9666389740            అంజుమ్        Anzum

In [37]:

raithubandu_nonmatced = Final_data[(Final_data['English_Name'] == 'Name Not Found')]

In [38]:
raithubandu_nonmatced.to_excel("Shadimubharak_srinivasgoud_notmatched.xlsx", index = False)

In [39]:
reverse_filtered_data['English_Name'] = reverse_filtered_data['English_Name'].str.strip()

C:\Users\Admin\AppData\Local\Temp\ipykernel_7840\1503262758.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reverse_filtered_data['English_Name'] = reverse_filtered_data['English_Name'].str.strip()

In [40]:
# Function to capitalize strings in a column
def capitalize_column(column_name, dataframe):
    dataframe[column_name] = dataframe[column_name].str.capitalize()
    return dataframe

# Applying the function to the 'Words' column
reverse_filtered_data = capitalize_column('English_Name', reverse_filtered_data)

C:\Users\Admin\AppData\Local\Temp\ipykernel_7840\1535921800.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[column_name] = dataframe[column_name].str.capitalize()

In [41]:
reverse_filtered_data.head()

  NAME OF THE BENEFICIARY   MOBILE_NO first_name_Telugu English_Name
0           అంజుమ్ జుబెడి  9985321980            అంజుమ్        Anzum
1           అంజుమ్ జుబెడి  9985321980            అంజుమ్        Anzum
2             అంజుమ్ తమనా  7730909524            అంజుమ్        Anzum
3           అంజుమ్ ఫాతిమా  9505836615            అంజుమ్        Anzum
4           అంజుమ్ ఫాథిమా  9666389740            అంజుమ్        Anzum

In [42]:
uniq_df.head()

   Unqiue_names Telugu_unique_names  telugu_wronginfo
0  Hrushikeswar        హ్రుశీకేశ్వర               0.0
1        Hrudai              హ్రుదై               0.0
2      Hruthika             హ్రుతిక               0.0
3      Hrithvik          హ్రిత్విక్               0.0
4         Hritu              హ్రితు               0.0

In [44]:
# Function to clean and convert a string to an integer
def clean_and_convert(value):
    cleaned_string = ''.join(filter(str.isdigit, str(value)))
    try:
        return int(cleaned_string)
    except ValueError:
        return None  # or any default value you prefer for invalid cases

# Apply the function to the specified column
reverse_filtered_data['MOBILE_NO'] = reverse_filtered_data['MOBILE_NO'].apply(lambda x: clean_and_convert(x))

C:\Users\Admin\AppData\Local\Temp\ipykernel_7840\1547857855.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reverse_filtered_data['MOBILE_NO'] = reverse_filtered_data['MOBILE_NO'].apply(lambda x: clean_and_convert(x))

In [45]:
data=reverse_filtered_data

In [47]:
import json
import pandas as pd

# Assuming 'data' is a Pandas DataFrame with columns 'first_name2' and 'Mobile No'
name_phone_dict = {}

for index, row in data.iterrows():
    name = row['English_Name']
    phone_number = str(row['MOBILE_NO'])  # Convert phone number to string
    
    if name in name_phone_dict:
        name_phone_dict[name].append(phone_number)
    else:
        name_phone_dict[name] = [phone_number]

# Save the dictionary as a JSON file
with open('Shadimubharak_srinivasgoud_name_phone_numbers.json', 'w') as json_file:
    json.dump(name_phone_dict, json_file, indent=4)

# Counting phone numbers for each name
phone_number_counts = {name: len(numbers) for name, numbers in name_phone_dict.items()}

# Total count of phone numbers in the DataFrame
total_phone_numbers = len(data)

# Calculating total count of phone numbers from the dictionary
count_from_dict = sum(len(numbers) for numbers in name_phone_dict.values())

# Comparing counts
if total_phone_numbers == count_from_dict:
    print("Total counts match! All phone numbers are accounted for.")
    print("Saved name_phone_numbers.json successfully.")
else:
    print("Total counts do not match! There might be missing or duplicate phone numbers.")

Total counts match! All phone numbers are accounted for.
Saved name_phone_numbers.json successfully.